[2013-03-05 10:01] rowanmanning opened #1 "Investigate passing data to PhantomJS"
The way we pass data to PhantomJS at the moment is awful.  We're passing the 'standard' to use through the querystring.

There's almost definitely a nicer way.

I couldn't work out how to pass data into PhantomJS any other way using our [chosen Node library](https://github.com/sgentle/phantomjs-node). I may just be being blind.

[2013-03-05 10:07] rowanmanning opened #2 "PhantomJS hangs on page redirect"
If there's a redirect in the page load, PhantomJS will hang forever (it seems). This may be related to JavaScript redirects but I've experienced with server redirects too.

[2013-03-05 10:09] rowanmanning opened #3 "PhantomJS timeouts"
Occasionally (rarely) PhantomJS can hang which causes the command to just sit there doing nothing.

If we can't solve the root issue, it may be worth implementing a simple timeout to prevent this from clogging up CI servers etc. If a timeout is added, make sure it can be specified with an option like this:

[code]

Possibly related to #2.

[2013-03-05 10:11] rowanmanning opened #4 "Release 1.0"
This is a placeholder issue to prevent the milestone from accidentally closing.
- [x] Fix all outstanding issues
- [x] Version, tag etc.
- [x] Publish to npm

[2013-03-06 10:14] #3 closed, assigned to nobody

[2013-03-06 11:38] rowanmanning opened #5 "Switch to using WebSockets to pass data to/from PhantomJS"
See #1, #2 and [this blog post](http://www.jonathanleighton.com/articles/2012/announcing-poltergeist/) for more context.

[2013-03-06 11:38] #1 closed, assigned to nobody

[2013-03-06 11:39] #2 closed, assigned to nobody

[2013-03-06 12:41] rowanmanning opened #6 "Allow users to log into password-protected areas of sites"
Maybe tackle this by allowing inclusion of a JS file in the page as part of the program running.

[2013-03-06 12:41] rowanmanning opened #7 "Allow filtering out certain rules"
Not exactly sure how we'd tackle yet. Maybe allow user to specify a JSON config file or pass rule names in as CLI flags.

[2013-03-06 12:43] rowanmanning opened #8 "Release 1.1"
This is a placeholder issue to prevent the milestone from accidentally closing.
- [ ] Fix all outstanding issues
- [ ] Version, tag etc.
- [ ] Publish to npm

[2013-03-06 12:43] rowanmanning opened #9 "Document writing custom reporters properly"

[2013-03-06 14:01] rowanmanning opened #10 "Investigate using a local copy of HTML CodeSniffer"
This will allow you to test local URLs with no internet – not currently possible.

[2013-06-24 13:56] #5 closed, assigned to nobody

[2013-06-25 08:20] #9 closed, assigned to rowanmanning

[2013-06-25 15:19] #4 closed, assigned to rowanmanning

[2013-06-25 15:21] rowanmanning opened #12 "Break up and unit test `lib/pa11y.js`"
This is the last un-(unit)tested part of the code base – mainly because it's quite large and difficult to test in its current state. Look at breaking this apart and making more testable.

[2013-06-25 15:21] #8 closed, assigned to nobody

[2013-07-05 10:23] #10 closed, assigned to nobody

[2013-07-05 13:46] whymarrh opened #14 "Return non-zero status code when errors reported"
This would be useful if including pa11y as part of a Git pre-commit hook or in a CI environment.

It'd only be when errors reported, not for warnings or notices.

[2013-07-16 14:24] stephenmathieson opened #16 "spidering support"
i know it's a _huge_ feature request, but spidering support would be extremely helpful.

it'd be nice to also be able to specify a maximum depth of spidered pages:

[code]

thoughts?  i'd be happy to contribute, or create a separate module (`pa11y-spider`?) for such a task.

[2013-07-16 16:44] stephenmathieson opened #18 "remove heavy dependencies"
dependencies such as `_` are a bit large for what they're being used for and may become deeply coupled with this module.  how would you feel about removing the underscore dependency and relying on smaller, cleaner modules for underscore-esque functionality (`_.defaults`, `_.countBy`, etc.)?

[2013-07-16 21:45] rowanmanning opened #19 "Finalise and document the JavaScript API"
Make a JavaScript API for pa11y which is consistent, stable and documented. This will allow for tools to be built on top of pa11y's core (e.g. #16), as well as enable pa11y to be easily integrated into other tools such as [Grunt](http://gruntjs.com/).

This may mean moving some of the more command-line-specific stuff _out_ of `lib/pa11y`. Off the top of my head, we'd need to reconsider:
- Use of `

[2013-07-17 13:19] rowanmanning opened #21 "Default config file `.pa11yrc`"
Allow pa11y to use a default config file `<cwd>/.pa11yrc`.

The `.pa11yrc` config file should be used if present, and if a config file hasn't been specified with the `--config` command-line option.

[2013-07-17 13:20] #12 closed, assigned to nobody

[2013-07-17 14:54] #21 closed, assigned to nobody

[2013-07-17 14:55] #7 closed, assigned to nobody

[2013-07-17 14:57] rowanmanning opened #23 "Revisit (and refactor) feature tests"
These were thrown together as a basic safety net before we had a decent test suite. There's now a lot of repetition and most of the JS code in `test/feature` is a mess.

[2013-07-17 15:57] rowanmanning opened #24 "Document all of the rules you can ignore"
This probably involves the joyous task of trawling through [HTML CodeSniffer](https://github.com/squizlabs/HTML_CodeSniffer) and grabbing each of the rules (code plus message).

At the moment you have to copy rules from the console output which is quite inefficient, and doesn't allow you to ignore rules that you haven't come across yet.

[2013-07-17 20:55] #14 closed, assigned to nobody

[2013-07-29 07:59] #24 closed, assigned to nobody

[2013-08-22 16:22] rowanmanning opened #29 "Set Unique User Agent"
Investigate setting a unique user agent to allow sites to filter out pa11y traffic from analytics etc.

[2013-08-23 07:48] #19 closed, assigned to nobody

[2013-08-23 08:32] #29 closed, assigned to nobody

[2013-10-09 09:56] #16 closed, assigned to nobody

[2013-10-09 09:59] #18 closed, assigned to nobody

[2013-10-11 08:13] #6 closed, assigned to nobody

[2013-10-31 15:25] #23 closed, assigned to nobody

[2013-11-19 13:19] remyleone opened #35 "Unhandled error event"
sieben@sieben-lincs:~|⇒  pa11y nature.com

Welcome to Pa11y
We'll sniff your page for you now.

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: spawn ENOENT
    at errnoException (child_process.js:980:11)
    at Process.ChildProcess._handle.onexit (child_process.js:771:34)

[2013-11-20 08:10] #35 closed, assigned to nobody

[2013-12-18 20:02] pdewouters opened #39 "running pa11y from the command line throws an error"
`phantom stderr: 2013-12-18 17:01:57.429 phantomjs[8694:507] *** WARNING: Method userSpaceScaleFactor in class NSView is deprecated on 10.7 and later. It should not be used in new applications. Use convertRectToBacking: instead.`

[2014-02-07 11:14] philbooth opened #40 "Conform to GPL usage guidelines"
Just noticed that pa11y doesn't follow the GPL guidelines for using the license.

Quoting from http://www.gnu.org/licenses/gpl-howto.html (emphasis is mine)...

"...the process involves adding two elements **to each source file of your program**: a copyright notice... and a statement of copying permission, saying that the program is distributed under the terms of the GNU General Public License..."

[2014-02-10 11:28] dotcode opened #41 "Tests fail on first run"
The first time you run grunt from within pa11y, you get this:

[code]

Tests pass if run again.

[2014-02-10 14:41] #40 closed, assigned to dotcode

[2014-04-30 07:52] #39 closed, assigned to nobody

[2014-04-30 10:06] #41 closed, assigned to nobody

[2014-06-13 11:46] tomduckering opened #44 "pa11y hard to use from non-internet connected machines"
Hi,

Thanks for making pa11y. We're trying to use it for our project but since we have machines with no internet connectivity we have to jump through some hoops to make HTMLCS.js available to download via HTTP.

Is there a reason you're not just including this js file in your code or is there a reason it can't be fetched from a local file system?

Happy to try and make a fix but wanted to understa

[2014-06-17 20:05] mfairchild365 opened #45 "Zombies!"
First of all, thank you for such a wonderful project.  We have been using it quite extensively and have thus found some problems with it.  The most problematic of which is that it spawns zombie processes that consume memory and cpu and eventually crash the server.

Some details:
If you run pa11y on a page that generates an error, p11y eventually reaches its timeout but at least two processes live

[2014-06-18 10:03] rowanmanning opened #46 "Release pa11y 2.0"
Pa11y 2.0 is currently in development, and viewable on the [2.x branch for now](https://github.com/nature/pa11y/tree/2.x). Issues will appear in the `2.0` milestone, and we'll be aiming for *near* feature parity with pa11y 1.x.

Pa11y 2.0 is currently in an alpha state, and is not ready to replace 1.x as part of your toolchain. This is mainly because not all of the accessibility rules present in 1

[2014-06-18 10:12] rowanmanning opened #47 "Write a `pa11y list` command"
As rules/suites are now customisable and extendable, it would be useful if the command-line tool could list all of the ones present. Thinking `pa11y -l`.

[2014-06-18 12:56] rowanmanning opened #48 "Implement error/warning rules that HTML CodeSniffer implements"
The following list is taken roughly from HTML CodeSniffer's implemented rules. We should aim to implement tests for all of these in pa11y 2.0 as a baseline.

I've excluded notices for now to focus on *actionable* items.

- [ ] 1.1.1 Non-text content
  - [x] missing `alt` attribute on `img` (error)
  - [x] empty `alt` attribute on `img` inside an `a` with no other content (error)
  - [x] empty `alt

[2014-06-25 16:21] mfairchild365 opened #50 "Allow customizing the viewport width"
It looks like pa11y currently renders and checks pages at a mobile width.  This is useful, and goes with a mobile first attitude, however it ignore other potential breakpoints.

Especially when considering responsive design, the layout, colors, content, etc can change at different breakpoints, which can affect accessibility.

So, it would be nice if there was a command line option to configure the

[2014-06-27 08:21] #50 closed, assigned to nobody

[2014-08-01 10:31] alfonsomontealegre opened #52 "PhantomJS Error"
Hello,

I cannot launch the tool because i get an error about the path of the phantomjs. However, phantomjs path is on the system environment variables, and like you can see in the image, I can run the commands of phantomjs like for example (phantomjs --version) to check if phantomjs is installed.

Do you know what could be wrong?

Thank you,

![phantomjs-error](https://cloud.githubusercontent.com

[2014-08-13 21:30] mfairchild365 opened #53 "Allow sending options to pa11y"
I've been seeing errors where pa11y fails to open URLs due to failed ssl handshakes.  The solution is to change the ssl protocol that phantomjs uses via this command line option:

[code]

I'm sure other issues could crop up where passing user defined configuration to phantomjs would be helpful, so maybe it would be better to implement phantomjs's `--config` option:

[code]

Sources:
1) http://stac

[2014-08-16 03:44] whymarrh opened #58 "Sync JSON config file with command line options"
Idea: adding the ability to configure all the same options in the JSON config (`.pa11yrc`) that are available as command line flags.

I'm not 100% sure where I would draw the line on this as not _all_ of the command line flags are worthy (e.g. help and version), but I think the others might be useful.

Thoughts? With ideas like #50/#51 and #53, maybe the JSON config is underutilised.

[2014-08-18 08:54] #53 closed, assigned to nobody

[2014-08-28 09:08] alfonsomontealegre opened #59 "pa11y installing error"
I have installed NodeJS 0.10 but i could not install pa11y tool. I also have installed Windows SDK and VisualStudio.

![cmd3](https://cloud.githubusercontent.com/assets/8329045/4073281/9c8d839c-2e92-11e4-9995-d98930143a02.png)

However, when try to install pa11y tool "$ npm install -g pa11y", i got this error and the tool fails to install.

![eror](https://cloud.githubusercontent.com/assets/832904

[2014-08-29 09:26] #52 closed, assigned to nobody

[2014-08-29 09:26] #59 closed, assigned to nobody

[2014-09-17 10:27] #47 closed, assigned to nobody

[2014-10-16 10:31] paipai opened #60 "Source code and screenshot backup"
Hello,
For some website, the page tested by pa11y is not the same as the one displayed in a browser (maybe cause of the user-agent ...). It would be nice to have an option to get a backup of the source page code and a screenshot (phantomjs) of the page tested by pa11y to be sure this is the good one.

[2014-10-27 12:06] bryanrasmussen opened #61 "phantomjs timeout when getting new htmlcodesniffer"
trying this
pa11y -c "http://raw.githubusercontent.com/bryanrasmussen/HTML_CodeSniffer/master/HTMLCS.js" www.sundhed.dk
or this
pa11y -c "https://raw.githubusercontent.com/bryanrasmussen/HTML_CodeSniffer/master/HTMLCS.js" www.sundhed.dk

always gives me

another thing is I want to pass a lot more info from htmlcs, for example the html that triggered the warning, an xpath to the element etc.

If I

[2014-10-28 00:15] whymarrh opened #62 "Default to TLSv1 in order to support older versions of PhantomJS"
PhantomJS previously (`<= 1.9.7`) used SSLv3 for all secure connections and since a lot of servers are disabling it due to the :poodle: attack, the `--ssl-protocol=tlsv1` flag would need to be used to change the default behaviour.

PhantomJS 1.9.8 (released 5 days ago) changed the default protocol to TLSv1, fixing the issue.

This is more of a question: should the `--ssl-protocol=tlsv1` flag be pa

[2014-11-09 10:18] #61 closed, assigned to nobody

[2015-01-08 20:30] mfairchild365 commented on #45
@rowanmanning This is still an ongoing issue for us.  I'm curious if you have made any progress or if there is anything that I can do to help.

[2015-01-16 10:32] rowanmanning commented on #45
Hi @mfairchild365, sorry for very slack replies lately. I've managed to block out a day (today) to work on this, will feed back if I work something out or get stuck. If I don't get anywhere in the next hour or so I'll try implementing a short-term fix which kills any zombie processes before node exits.

[2015-01-16 11:22] rowanmanning commented on #45
Holy shit I think I found a fix! Fresh eyes I guess. Basically the messages that come back from HTML Codesniiffer contain a DOM element, this obviously eats up loads of memory and I think in the case of this specific page (and others) there must be an infinite loop or something like that. I'm removing the DOM element *before* sending data back to node locally, and it's working. PR incoming, would

[2015-01-16 13:22] rowanmanning commented on #62
Sorry for the (very) late response on this. Maybe, yes, I'm trying to think if there are any downsides to using tlsv1 by default. If this is something you want to work on, I'll accept a PR. Otherwise I can pop on my to-do list

[2015-01-16 13:25] rowanmanning commented on #60
Hi @paipai, how would you envisage this working? I like the idea. In the meantime, I'd suggest requesting the page via cURL with the pa11y user-agent (pa11y/x.x.x) to test whether it's the correct version of the page being accessed.

[2015-01-16 14:18] paipai commented on #60
Is there any chance to save source page code from phantomjs in an HTML file ?

[2015-01-16 14:43] rowanmanning commented on #60
Yes, possibly. I'll have a think about if there's a nice way to do this. It could potentially be a different reporter.

[2015-01-17 18:45] rowanmanning commented on #45
Closing, fixed in #63

[2015-01-17 18:45] #45 closed

[2015-02-02 18:26] rajesh825 opened #64 "Pa11y fails with error URL could not be loaded"
#Pa11y Ignore SSL Certificate warning

Hello, I am trying to integrate Pa11y as part of Build process. However on trying to perform site validation seeing following error.

/pa11y WCAG2AA https://testsiteurl

_-::>  Loading page...
_-::>  URL could not be loaded

It appears my Local test environment does not have valid SSL Certificate.
for eg: Curl https://testsiteurl throws following message
curl

[2015-02-03 08:15] rowanmanning commented on #64
Hi Raja, thanks for reporting. I'll look into this as soon as possible

[2015-02-09 23:41] whymarrh commented on #62
No worries (says a late response to a late response). It can definitely sit on the to-do list, especially since PhantomJS 1.9.8 has been released with a fix. I do want to submit a PR* though, as I think this, #55, #58, and #64 are all kind of related.

\* Though #55 might cover it already.

[2015-02-09 23:47] whymarrh commented on #64
To ignore SSL errors (and/or to allow self-signed certs) you'd need to pass a flag to PhantomJS itself, something that isn't yet exposed through Pa11y. The flag you're looking for is `--ignore-ssl-errors=true`<sup>[1](http://phantomjs.org/api/command-line.html)</sup>. You might be able to get away with using @mfairchild365's branch from #55, but do note that its behind master.

[2015-02-10 00:50] rajesh825 commented on #64
That's great, thanks for the information.
That was useful.

Regards,
Rajesh

On Mon, Feb 9, 2015 at 11:47 PM, Whymarrh Whitby <notifications@github.com>
wrote:

[2015-03-03 15:30] benbalter opened #65 "Confirming usage under the GPL"
Greetings team pa11y! @adelevie introduce me to the awesomeness that is pa11y last week, and since then, we've set out to make an automated 508 testing tool for Jekyll and other static sites. We've lovingly called the Ruby gem [Ra11y](https://github.com/benbalter/ra11y).

Before we go too far down the :rabbit: hole, we wanted to check in with you and make sure that we were honoring both the projec

[2015-03-03 23:39] dotcode commented on #65
Hi @benbalter! Thanks for getting in touch, we're honoured.

Ra11y sounds neat, complies with both the letter of the law (and most definitely our vision), so we're looking forward to some pull requests, let's see where we go.

Nice name as well ;)

[2015-03-03 23:46] adelevie commented on #65
Woo! Thanks, @dotcode! At [18F](https://18f.gsa.gov), we're working hard to improve web accessibility for the US federal government, and pa11y looks like it will play an important role. Thanks again for building this tool and being clear about licensing :)

[2015-03-04 11:45] dotcode commented on #65
No problem, glad to help (as is @rowanmanning, who actually did all the work ;)

[2015-03-04 11:47] #65 closed

[2015-04-07 16:09] mattdell opened #67 "Ignore not working"
Hello,

Hopefully I'm just doing something wrong but I can't get the ignore feature to work. Here is my code:

	pa11y.sniff({
		url: url,
		standard: accessibilityStandard,
		useragent: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.104 Safari/537.36',
		config: {
			ignore: [
				'WCAG2AA.Principle1.Guideline1_4.1_4_3.G18'
			]
		},
	}, fu

[2015-04-07 21:51] whymarrh commented on #67
Hey Matt, can you share the url and standard you are running the test with (I'm assuming from the error that it's WCAG2AA)? Note that if you are trying to ignore `WCAG2AA.`-prefixed errors, that you need to be testing against `WCAG2AA`.

[2015-04-07 21:58] whymarrh commented on #67
Just as an example, the following works for me, and running it with and without the ignore produce the expected results:

[code]

[2015-04-08 13:30] mattdell commented on #67
Hey, thanks for the quick response!

I'm running it against localhost so I can't share the URL. But, it seems changing the ignore rule from `WCAG2AA.Principle1.Guideline1_4.1_4_3.G18` to `WCAG2AA.Principle1.Guideline1_4.1_4_3.G18.Fail` seems to have worked.

I would have thought it would work without the .Fail.

[2015-04-08 22:21] whymarrh commented on #67
Yeah, it requires the rule verbatim as it appears in the results. Maybe it should work w/o the `.Fail` (and possibly without the standard prefix)? That would be a good enhancement.

[2015-04-08 22:31] mattdell commented on #67
I think a good enhancement would be to have the ignore rules in sync with this list: https://github.com/nature/pa11y/wiki/HTML-CodeSniffer-Rules

That's where I got the rule that I wanted to ignore and then copy/pasted it from there. I hadn't thought of copy/pasting straight from terminal.

[2015-04-08 22:42] whymarrh commented on #67
Well it did say that they "can be used in a config file to ignore certain rules", so...yeah. I've updated that page to try and clarify the workflow -- some of those rules are dependent on e.g. `[NodeName]` so I'm not sure if it could be in sync.

[2015-04-08 22:43] mattdell commented on #67
Cool, thanks for looking into that. Hopefully it helps clear it up for anyone else!

[2015-04-27 15:40] adelevie commented on #16
Hey, I pieced together a fairly simple way to achieve this:

[code]

[2015-05-06 09:13] gianluca78 opened #68 "Code Sniffer Error"
Hello!
I got a generic "Code Sniffer Error" when I launch the following command:
    pa11y scuolafalconeborsellino.it

Also when  use the flag -d, I can't understand what went wrong:

What to do to better understand the problem? I suppose this is caused by the frame included in the webpage...

Thank you very much!

[2015-05-06 22:28] whymarrh commented on #68
What version of PhantomJS are you using? (And, just for good measure, what version of pa11y?)

When I run `pa11y scuolafalconeborsellino.it`:

[code]

I would try (if possible) to fix the errors shown and see if PhantomJS can load the page correctly.

[2015-05-07 08:10] gianluca78 commented on #68
Thank you. I use PhantomJs 1.9.8 on Ubuntu 14.04 and pa11y 1.6.3.

Unfortunately I can't edit the website. It is not mine.

It could be useful to see the same log of you. I'm evaluating an array of websites with pa11y and when CodeSniffer doesn't complete its task, an empty report file is generated. I would like to be able to distinguish if a report is empty because there are not errors or because

[2015-05-07 09:55] whymarrh commented on #68
If you are using just the CLI, you can know that there were errors from pa11y's exit code ([L116-L118](https://github.com/nature/pa11y/blob/7d1cc22fd98fad44a3a6c5c37e6b5a62623f47c3/bin/pa11y#L116-L118)).

[2015-05-07 10:56] gianluca78 commented on #68
No, I use it from a R script. By the way, I tried:

[code]
And the result is 1.

With the scuolafalconeborsellino website:
[code]

The result is 255 despite the CodeSniffer error.

Am I doing something wrong? Thanks!

[2015-05-07 23:37] whymarrh commented on #68
@gianluca78 you should be able to express the return code as its original value. An example with Perl:

[code]

You should be able to get the same functionality in R with the [`pack`](http://cran.r-project.org/web/packages/pack/index.html) package.

With that said, in thinking about this now, this functionality (the use of a negative error code, introduced in #32) isn't POSIX compliant and will br

[2015-05-08 00:00] whymarrh opened #69 "Don't use return codes to indicate lint error count"
I feel a bit guilty about this one, since I introduced it in #25 and #32.

I still think the process should exit with an error to indicate that there were errors (as per #14), but using the actual count as the code will break if there are too many errors ([more than 255](http://stackoverflow.com/a/5149245)). Also, using -1 wraps around, and while it is still *possible* to get it back, the process

[2015-05-08 00:05] whymarrh commented on #69
I've been using this functionality to great success, but admittedly with a small number of errors. In thinking through #68 I realized that 255 errors would be the same as an internal error and that 256 wraps back around to 0.

[2015-05-08 08:29] rowanmanning commented on #69
Hmm, OK. Yeah we should probably fix this but it's technically a breaking change. Possibly the solution is to add a new cli reporter that exits with 1 or 0?

[2015-05-08 09:53] whymarrh commented on #69
You're right about it being a breaking change. The strict flag wouldn't make sense anymore as well.

I hadn't thought about a new reporter, would it be the default? There might be other reporters that this functionality could be rolled into (e.g. [18F/pa11y-reporter-ci](https://github.com/18F/pa11y-reporter-ci)). I think the possible issue here is that 256 errors will still wrap back around to a s

[2015-05-08 13:29] rowanmanning commented on #69
It depends. We could add a cli-strict reporter in the short-term which is not default, and mention in the README. It would be nicer to bring this work into pa11y 2.0. As an aside, I've been thinking about 2.0 and it might just be an overhaul of the current codebase (phantomjs and HTML CodeSniffer still there) rather than a full rewrite – the scope of building our own version of CodeSniffer is pret

[2015-05-11 18:24] mfairchild365 commented on #69
forgive me if I am being ignorant, but could a solution be to add a configuration option?  something like `--exit-bool` or `--use-standard-exit-code`?  It seems a little overkill to make an entirely separate reporter.

[2015-05-13 13:45] ShashwatDubey opened #70 "Not able to get detailed accessibility report"
I am using pa11y for accessibility audit on my web application and it generate a report which shows  following details -
* code : WCAG2AA.Principle2.Guideline2_4.2_4_2.H25.2
* message : Check that the title element describes the document.
* type : notice

But i am not able to get details like where any particular accessibility error/warning exists in my html.
May be i am not able to understand.
so

[2015-05-13 15:23] rowanmanning commented on #70
Hi Shashwat, you should be able to get a HTML snippet for the error with the `json` reporter:

[code]

If you don't see `html` properties in the response, then you may need to update pa11y – it's a recent addition.

[2015-05-13 23:49] whymarrh commented on #69
@mfairchild365 you are absolutely correct in that a flag could be added. I guess it comes down to what should be the default.

[2015-05-14 07:23] ShashwatDubey commented on #70
@rowanmanning  Thanks buddy.
I have installed pa11y using npm,
Though, i made some changes in js files directly and it works for me. But still do you know any command to update pa11y using npm ?

[2015-05-14 08:12] rowanmanning commented on #70
@ShashwatDubey yes, you can update by running:

[code]

And check the version with:

[code]

It should be `1.7.0` for the latest version.

[2015-05-18 16:04] benedfit opened #71 "Could testing be performed on fragments of HTML?"
Not sure of the feasibility of this but it would be great to be able to run pa11y against a fragment of HTML as well testing full pages.

[2015-05-18 21:24] #46 closed

[2015-05-18 21:24] #48 closed

[2015-05-18 21:27] rowanmanning commented on #44
Marking this as resolved – you can achieve this from an offline machine in the way that @whymarrh specified for now. In the next version of pa11y, I'm considering moving to a locally-hosted version of HTML CodeSniffer by default which will make this much easier in future.

[2015-05-18 21:27] #44 closed

[2015-05-18 21:30] rowanmanning commented on #58
Just a note, this has made it into a development version of pa11y, support for configuring any PhantomJS flag. There's no ETA yet but I'll keep you posted.

[2015-05-18 21:32] rowanmanning commented on #62
As I'm working on a `2.0` breaking version, it makes sense to bring this into it.

[2015-05-18 21:36] rowanmanning opened #72 "Ignore SSL errors by default"
For 2.0, it'd perhaps be good to ignore SSL errors by default. See #64. This should be much easier to do in the newer code-base.

[2015-05-18 21:36] #64 closed

[2015-05-18 21:37] #67 closed

[2015-05-18 21:39] rowanmanning commented on #68
Hi, as well as the issues @whymarrh has raised, I think some general tweaking needs to happen around the error reporting – it's not very verbose at the moment and it'd be useful to get a full error stack. I'll work on this as well.

[2015-05-18 21:40] rowanmanning commented on #69
I can't remember off the top of my head, but it may not be super simple to read flags in the reporters. I'll investigate, but yes that might be the nicest solution @mfairchild365 :)

[2015-05-18 21:44] rowanmanning commented on #71
Technically yes this *should* be feasible, but there's no way to do this with pa11y right now. One option in the shorter-term is for your back-end to be able to serve up just the bits of HTML that you need because HTML CodeSniffer (the tool we use under the hood) is built to take the whole page into consideration.

Does that answer your question?

[2015-05-19 13:57] rowanmanning opened #73 "Review Truffler"
Hey @whymarrh, I've been working on splitting out the PhantomJS part of pa11y into a separate library, which is now open-sourced at https://github.com/nature/truffler. Before I start using this, can you envisage any issues? Is there anything I've missed?

There's no rush on this, but it'd be excellent if you could cast your eyes over it at some point.

[2015-05-20 01:43] whymarrh commented on #73
Awesome work @rowanmanning!

From the looks of it, Truffler solves a number of the issues that pa11y has run into: multiple tests, dealing with PhantomJS flags, etc. Two quick notes (I'm not sure if they're better discussed here or in the Truffler repo):

- Is there an alternative to [sgentle/phantomjs-node](https://github.com/sgentle/phantomjs-node)

    I would need to look into it more, but is

[2015-05-20 01:47] whymarrh commented on #73
This is what I had for multiple tests:

[code]

For the crashing script, remove the `s` from `results` on the tenth line from the bottom.

[2015-05-20 08:21] paipai commented on #73
Well done. I was wondering how to make multiples tests too

[2015-05-20 08:25] rowanmanning commented on #73
Hi Whymarrh,

Thanks for taking a look, your feedback's really helpful. So firstly:

Not that I've found; PhantomJS isn't built in Node.js and so runs as a completely separate process. There's not really a nicer way to communicate between Node.js and PhantomJS's JavaScript environments unfortunately. Also this is the library that has been used in pa11y since the start, it's not great that there ar

[2015-05-20 09:13] rowanmanning commented on #73
Example of testing multiple URLs added: https://github.com/nature/truffler/commit/ea364a9d8c89c508dba88610929d82321df7dbad

[2015-05-21 00:44] whymarrh commented on #73
+1 for the adding the example, thanks!

Just on the PhantomJS bridge: yup, you'd still need a bridge, but I do think that there are nicer ways to interact with the process. I've opened up nature/truffler#2 to follow up on the PhantomJS bit, outside of that though, I don't think I have much more feedback. Truffler looks great!

[2015-05-24 12:48] andrewholgate opened #74 "Allow for reporting levels to be set: error, warning, notice"
Great tool, very good implementation of HTML Code Sniffer!

For CI integration, it would be very useful to be able to specify the reporting level, eg.
[code]
With 0 being the default.

In our case, this would allow CI testing to halt a build if an `error` is found in the WCAG standard but allow the build to continue if only warnings and notices are present.

[2015-05-24 12:52] andrewholgate opened #75 "Allow HTML source from file system and not just URLs."
HTML Code Sniffer allows for files on file-system to be used as the source HTML.

This is very useful when you need to analyse many HTML files and want to break the process into 2 distinct phases:

1. Download all HTML
2. Analyse HTML files for WCAG compliance.

[2015-05-25 10:42] whymarrh commented on #75
You can, as an example, download a bunch of HTML files, run a HTTP server locally, and test against that site. (There might be something in #10, #16, or #44 that gives you an idea.) Is that what you were thinking of?

e.g.

[code]

[2015-05-25 19:17] andrewholgate commented on #75
Nice solution.

Using the PhantomJS [HTMLCS_Run.js script](https://github.com/squizlabs/HTML_CodeSniffer/blob/master/Contrib/PhantomJS/HTMLCS_Run.js) that comes with HTML_CodeSniffer, this is possible without the need to load the HTML via an HTTP server:

[code]

[2015-05-26 08:13] rowanmanning commented on #75
Whymarrh's solution is what I'd go with for now. This feature might make it into pa11y 2.x, but I'm trying to reduce feature work on 1.x while that's in progress. I'll leave open until we have time to consider adding this :) thanks

[2015-05-29 17:06] #73 closed

[2015-05-30 16:04] rowanmanning opened #76 "Review Pa11y 2.0 API"
A first pass of pa11y 2.0 has been built, and is viewable on the [2.x branch for now](https://github.com/nature/pa11y/tree/2.x). It's had a couple of big API changes, and the code itself is a ground-up rewrite.

I decided to stick with PhantomJS and HTML CodeSniffer for this release, if we ever move away from them it'll be much further down the line. The core library has been split into a few smal

[2015-06-04 00:03] whymarrh commented on #76
This looks to be a solid 2.0.

A few quick notes:

- The [first example in the README][1] shows the following, which is missing the `exit` parameter:

[code]

- [The section on exit codes][2] in the README states:

I think that should read "always exist with zero".

(A specific +1 for the migration guide, that's well thought out.)

  [1]:https://github.com/nature/pa11y/blob/e9ec2cefde11da12026c9d2

[2015-06-04 21:35] rowanmanning commented on #76
Thanks for the feedback :) I've updated the README to clarify the `--levels` argument and added the `exit` parameter to the first example.

I'll get this released soonish then, once I've gathered feedback within Nature.

[2015-06-08 12:31] rowanmanning commented on #72
Added to pa11y 2.0 in 9bef4d9f601a895569a4efa626e9c130907efc11

[2015-06-08 12:31] #72 closed

[2015-06-08 12:32] rowanmanning commented on #62
Added to pa11y 2.0 in 62f3a19cc6f7d04f302ab8094ac7eca3db2bf452

[2015-06-08 12:32] #62 closed

[2015-06-08 12:34] rowanmanning commented on #58
@whymarrh can this issue close based on the new 2.0 API (where you can configure everything from the JSON config if you need to)?

[2015-06-08 12:35] rowanmanning commented on #70
Closing for now, let me know if you still have this issue.

[2015-06-08 12:35] #70 closed

[2015-06-08 12:37] rowanmanning commented on #74
Hi @andrewholgate, this has made it into pa11y 2.0 which is due to be released soon. You can [read up here](https://github.com/nature/pa11y/blob/2.x/README.md#exit-codes). Does this suit your needs?

[2015-06-08 15:21] #76 closed

[2015-06-08 15:37] rowanmanning commented on #69
Fixed in 2.0

[2015-06-08 15:37] #69 closed

[2015-06-08 15:38] rowanmanning commented on #68
This should be fixed in pa11y 2.0, please re-open if you continue to have issues

[2015-06-08 15:38] #68 closed

[2015-06-08 15:38] #74 closed

[2015-06-08 16:15] adelevie commented on #61
:+1: on the ability to get the xpath. Any pointers on where/how this can be done?

[2015-06-08 16:53] rowanmanning opened #77 "Add element XPath to result"
See discussion in #61. This could be done quite easily in pa11y 2.0, you'd need to get each element's XPath in [lib/inject](https://github.com/nature/pa11y/blob/master/lib/inject.js) (which run's within PhantomJS). You could use one of the functions in these SO answers:

  - [How to calculate the XPath position of an element using Javascript?](http://stackoverflow.com/questions/3454526/how-to-calc

[2015-06-08 16:53] rowanmanning commented on #77
@adelevie, opening a new issue for discussions around xpath. This would be really useful

[2015-06-08 17:46] adelevie commented on #77
Potentially dumb question, but how does HTML Code Sniffer know where to place the tooltips when running a sniff?

[2015-06-08 17:49] rowanmanning commented on #77
Each message in HTML CodeSniffer has a reference to a DOM element so I guess it just calculates where to place the tooltip based on it's dimensions and position. I did a bit of investigation into capturing screenshots of these with pa11y but it's a considerable amount of work

[2015-06-08 17:50] adelevie commented on #77
I'd be less interested in screenshots, but would love to get the XPaths or CSS selectors of these elements from `pa11y`. The end goal is a "flat" HTML page of the rendered test page with the tool tips. I want to make reports linkable, rather than asking folks to install and run the HTML CS bookmarklet.

[2015-06-08 17:51] adelevie commented on #77
See https://github.com/18F/pulse/issues/195 for some context of my goals.

[2015-06-08 18:47] rowanmanning commented on #77
Ah I see, well I know it'd also be really useful for pa11y-dashboard on our side, so I'll definitely get time to implement something. Do you have a preference for XPath/CSS? If they're simple enough to implement I could add both or make it configurable.

[2015-06-08 18:48] adelevie commented on #77
I don't have a preference--my only goal is to be empowered to create my own HTML tooltips for "static" reports. Whichever element identifier makes that happen is what I want. Let me know if/how I can help with this.

[2015-06-08 20:18] andrewholgate commented on #74
Perfect, the configurable `--level` flag will fit my use-case perfectly. Thanks!

A working link for the README should be: https://github.com/nature/pa11y/blob/2.0.0/README.md

[2015-06-08 22:12] whymarrh commented on #58
Sure can!

[2015-06-08 22:12] #58 closed

[2015-06-08 22:15] adelevie commented on #77
Here's a (horrible) proof of concept for CSS selectors. In `inject.js`:

[code]

[2015-06-08 22:40] rowanmanning commented on #77
Thanks @adelevie, I might tackle this tomorrow morning or Wednesday as I'm relatively free, I'd quite like to supply both CSS and XPath. Shouldn't be too complicated based on your proof of concept, I can just abstract out the element traversal and then string together XPath or CSS :)

[2015-06-08 23:01] adelevie commented on #77
Great! Can you ensure that these new values are available as separate
attributes? (And not just glommed onto a string like in my example)
On Jun 8, 2015 6:40 PM, "Rowan Manning" <notifications@github.com> wrote:

[2015-06-09 08:27] rowanmanning commented on #77
Yes, I was thinking something like:

[code]

[2015-06-09 12:28] adelevie commented on #77
Perfect!
On Jun 9, 2015 4:28 AM, "Rowan Manning" <notifications@github.com> wrote:

[2015-06-09 12:55] rowanmanning commented on #77
@adelevie I added the CSS selector in #78, It'd be great if you had time to cast your eyes over it. I *might* add XPath at some point but it was proving difficult to test. The Format has changed to:

[code]

[2015-06-09 14:22] rowanmanning commented on #77
CSS selector added in #78. Open a new issue if XPath is required later

[2015-06-09 14:22] #77 closed

[2015-06-09 14:39] rowanmanning commented on #75
@andrewholgate I'm not sure about Windows and Linux, but on a Mac you can actually test a file URL with pa11y like this:

[code]

Would this be a satisfactory solution? I don't want to add the breaking change of allowing the following, because we're currently adding `http://` if a scheme is not provided:

[code]

[2015-06-11 08:34] rowanmanning opened #79 "Include PhantomJS in library?"
Re-investigate using https://github.com/Medium/phantomjs to install PhantomJS with pa11y. This would only be acceptable if it doesn't touch pre-existing installs and can run in CI.

[2015-06-14 20:06] andrewholgate commented on #74
I just installed and used v2.1.0, very impressive! Thanks for your great work.

[2015-06-14 20:15] andrewholgate commented on #75
Thanks, `pa11y file:tmp/pa11y.html` works on Linux (Ubuntu).

[2015-06-14 20:34] andrewholgate commented on #75
For anyone looking for a single command-line solution (so it can be used as a custom npm script) to load multiple HTML files into pa11y, this is what I have found to work (might need a slight tweek for Mac).

This command reads all of the `*.html` files from the directory `output/` and performs the pa11y WCAG2A analysis on each one:

[code]

Being an npm script, it can be execute with `npm run wca

[2015-06-15 08:06] rowanmanning opened #80 "Add a "testing multiple local files" example"
Add a "testing multiple local files" example based on @andrewholgate's code in #75.

[2015-06-15 08:07] rowanmanning commented on #75
Thanks @andrewholgate, I've added a ticket to create an example based on this so that it's easy to find :)

[2015-06-15 08:07] #75 closed

[2015-06-23 14:37] rowanmanning commented on #60
This is unlikely to ever make it into pa11y. For future reference the suggested solution if you wish to do this is as follows:

1. Use cURL to save a page locally to an HTML file:

[code]

2. Run pa11y on the local file:

[code]

3. Take a screen-shot with a tool of your choosing:

[code]

[2015-06-23 14:37] #60 closed

[2015-06-23 14:55] paipai commented on #60
Thanks for the workaround.

[2015-07-03 12:31] GlynnPhillips opened #85 "Add functionality to abort requests for adverts"
It would be nice if Pa11y had an option to enable adblocking to prevent poor advert code showing in your reports.

I think this might be possible with the [onResourceRequested!](http://phantomjs.org/api/webpage/handler/on-resource-requested.html) method in PhantomJS

[2015-07-09 22:13] nford opened #86 "Proxy"
How to use Pa11y from behind a proxy?

[2015-07-10 09:47] rowanmanning commented on #86
High @nford, you should be able to pass in PhantomJS [command-line parameters](http://phantomjs.org/api/command-line.html) in the config.

If you're using the command-line interface you'll need to create a JSON config file like this:

[code]

Then run pa11y, pointing to your JSON config:

[code]

If you're using the JavaScript interface, you can specify proxy settings like this:

[code]

Let me kn

[2015-07-13 14:50] rowanmanning commented on #86
I've added a question to the README which answers this as well: https://github.com/nature/pa11y#how-can-i-use-pa11y-with-a-proxy-server. Closing this issue, please reopen if you can't get it working.

[2015-07-13 14:50] #86 closed

[2015-07-21 09:51] benedfit commented on #71
Thanks, I'll go with your suggested approach in the short-term

[2015-07-27 16:58] alexsoble opened #89 "Option to group results by type?"
@rowanmanning -- What are your thoughts on an option to group results by type? For example, one subsection with Errors, another with Warnings, another with Notices. Might be useful for teams that want to prioritize their a11y work by tackling Errors first, then Warnings, then Notices.

[2015-07-28 10:30] rowanmanning commented on #89
Hey Alex, I'm not sure whether this should be an option, or just an external reporter. You can currently kind of achieve this by using the `--ignore` flag:

[code]

If you feel like developing and publishing a new reporter that does this, I'd be happy to link to it from the [Reporters section of the README](https://github.com/nature/pa11y#reporters)

[2015-08-11 16:43] qaDream77 commented on #89
I'm actually working on something for this right now. I have pa11y provide me a json file which i parse into a formatted html report.

[2015-08-11 20:00] alexsoble commented on #89
@rowanmanning: Makes sense, thanks for pointing out the `--ignore` option.

@qaDream77: Sounds interesting!

[2015-08-12 19:46] qaDream77 opened #90 "Pa11y for sites on development server"
I have my development server and my production server. I host my dev sites on the dev server and block all connections to those dev sites from pc that are outside the network.

I am running pa11y on a mac osx which is on the network, the mac can load the site in the browser but when i try to use pa11y, i get
Error: PhantomJS failed to open "https://dev.test.serv.ca/foobar.html"

Any advice would b

[2015-08-13 07:52] rowanmanning commented on #90
Hi. A quick test would be to cURL the URL and see what it returns. If cURL can't access the site either, it might mean that something is saved in your browser which is giving you access. If cURL _can_ access the site, there's something wrong with pa11y and we can investigate.

[code]

[2015-08-13 14:12] qaDream77 commented on #90
First off, thanks for the reply and great work with pa11y, so far I'm loving it.

The site does have a TSLv1.2 cert. Curl printed out the entire page source for me, so it has access to the site. As for pa11y, i am not completely sure yet, i am looking at phantomjs solo atm to see it's debug log. I am not really sure how phantomjs works but i didn't think it was going to an outside server.

[2015-08-13 19:37] alex opened #91 "Ability to test multiple URLs in a single invocation of the CLI"
pa11y is fantastic, thanks for all the hard work that went into!

Having the ability to provide 2+ URLs on the CLI would be helpful.

[2015-08-17 15:14] qaDream77 commented on #90
To throw in a few more details. it throws a phantomjs error but when i try a simple phantom script.

var page = require('webpage').create();
page.open('https://dev.test.serv.ca/foobar.html', function () {
    console.log(page.content);
    phantom.exit();
});

It opens the page and prints out the source, this leads me to believe that this an isolated issue related to pa11y and not phantom.

[2015-08-19 10:45] mcrmfc commented on #89
I was thinking about making the error, warning, notice panels at the top of the html element filter results on click - what do you think?

[2015-08-19 16:26] qaDream77 opened #92 "Pa11y and Jenkins Integration"
Just wondering if anyone has looked into this or wants to collaborate on creating a plugin :)

Although currently, i can't even get Jenkins to test a site, it crashes

C:\Program Files (x86)\Jenkins\jobs\plugin test\workspace>pa11y google.ca
Welcome to Pa11y

Results for google.ca:
Build step 'Execute Windows batch command' marked build as failure
Finished: FAILURE

However if i create a js file a

[2015-08-20 08:05] rowanmanning commented on #90
Thanks for the extra info @qaDream77, it's helpful and yes it does seem to be pa11y that's at fault. I might write a test case for you when I get time and see if we can isolate the issue. It could be in pa11y, Truffler (a lib that pa11y uses) or even the Node phantomJS client that Truffler uses.

Odd that it works on Windows but not Mac. Silly question, but have you tried trashing your `node_modul

[2015-08-20 08:06] rowanmanning commented on #90
Sorry, uninstalling and reinstalling pa11y itself.

[2015-08-20 08:07] rowanmanning commented on #91
Thanks :)

I'd like to get this built too, it'd be really useful. It'll require a bit of a rethink on how reporters are loaded but totally achievable.

[2015-08-20 08:08] rowanmanning commented on #89
@mcrmfc: sure, feel free to open a PR

[2015-08-20 08:08] #89 closed

[2015-08-20 19:28] qaDream77 commented on #90
Yes, I went so far as to uninstall everything related to pa11y. Node, phantomjs, etc. The issue still persists on OS X.

[2015-09-03 10:39] gianluca78 opened #93 "Question about phantom stdout messages"
Hello! I'm using pa11y from command line to evaluate thousands of websites for a research. Everything is ok, your project is amazing. Thank you.

I need just a clarification. In some reports, I got messages like the following before the accessibility evaluation:

I suppose these are notice messages about errors in the assessed websites and that they not affect the accessibility evaluation. Am I ri

[2015-09-03 10:44] rowanmanning commented on #93
Hi @gianluca78, glad you're enjoying using pa11y!

You're correct in assuming that these errors are client-side errors in the pages themselves, so I think it's fine to include them in your results as long as pa11y's not reporting 0 errors/notices/warnings for them – that would indicate that the page errors are interfering with pa11y.

[2015-09-03 10:45] rowanmanning commented on #93
As a side note, if the research you're doing is ever made public we'd be really interested to see the results!

[2015-09-04 08:00] gianluca78 commented on #93
@rowanmanning thank you very much! I will inform you when (if :sweat_smile:) the research will be published...

[2015-09-22 17:36] qaDream77 opened #94 "Pa11y Authentication Question"
I got login working via phantomJS using the post method outlined at [1]
[1]: http://phantomjs.org/api/webpage/method/open.html

How do i post via pa11y and how can i confirm that it actually logged me in because i always get the same amount of errors, warnings and notices so i am not sure if it successfully logged me in or not.

The reason i ask is because I have a login token which is created on

[2015-09-28 21:38] rowanmanning commented on #94
Hi @qaDream77, aside from setting a login token with cookies in the config, I don't think this is achievable yet. I'd like to add the ability to perform actions on the page before the run, would that solve your problem? Then you could write a script which fills out the login form and posts it before pa11y loads.

[2015-09-28 21:38] #93 closed

[2015-09-29 15:02] qaDream77 commented on #94
That would probably solve the issue.

Just one thing to add is that a lot of companies and websites now are trying to prevent cross site scripting along with other security vulnerabilities, so not only would a post needs to be made with username and password but a unique session token would have to be fetched from a cookie or from a hidden form field and posted along with the username and password

[2015-10-08 10:10] rowanmanning opened #98 "Allow running of additional PhantomJS code before pa11y runs"
Currently there are some issues around login forms and pages that rely on a lot of JavaScript to render. We have the `wait` option for the latter, but it's not ideal.

Proposing adding the ability to run additional custom PhantomJS code before pa11y to prepare the page for testing. Not sure how this would look yet, but I'll throw together some ideas when I have time.

[2015-10-08 10:11] rowanmanning commented on #94
I'm not going to have time to work on this right now, but I've opened a ticket which should solve this issue: #98. I'm tied up in the release of pa11y 3.0 at the moment, but will prioritise this afterwards.

[2015-10-14 14:19] qaDream77 commented on #94
Looking forward to it! I am curious what features 3.0 will bring, is there a list anywhere and do you maybe have an estimated release date?

Cheers!

[2015-10-15 08:35] rowanmanning commented on #94
Yes, the PR for 3.0 outlines the features, it's mostly an API change though: #97. In terms of a release date, I'd say quite soon – I'm just waiting to hear back about a licensing change.

[2015-10-20 11:09] mcrmfc opened #99 "Orphaned PhantomJS processes..."
Hi,

I don't mind looking into this but wanted to see whether there were any known issues around it first.

Essentially I have a simple script that iterates round a bunch of urls then calls the PA11Y Webservice api to create a task (if it doesn't exist) and then run it.

After the script finishes when I observe that every phantomjs process spawned during the run is still alive:

```pa11y     2043

[2015-10-20 11:18] rowanmanning commented on #99
Hi Matt,

Just wondering if you're using the most up-to-date version of the webservice (1.6.3 – released 4 days ago). This release specifically fixes the orphaned process issues.

If you _are_ using the latest version, I can look into it.

Rowan

[2015-10-20 11:31] mcrmfc commented on #99
Rowan,

No i'm not - great will update now.

BTW - I have made a very rough and ready [chef cookbook](https://github.com/mcrmfc/chef-pa11y) for pa11y dashboard, so this is a good moment to see how that's handling upgrades!

Ok let's close this.

Cheers,

Matt.

[2015-10-20 11:31] #99 closed

[2015-10-30 09:41] rowanmanning commented on #79
We're not doing this.

[2015-10-30 09:41] #79 closed

[2015-10-30 09:42] rowanmanning commented on #71
Going to say that actually we probably won't support this in pa11y.

[2015-10-30 09:42] #71 closed

[2015-11-03 15:31] vanatomas opened #100 "Pa11y execution"
Hi, is there a way to check if tests run daily? Also, if possible to change time to run tests weekly?

[2015-11-09 08:50] rowanmanning commented on #100
Hi @vanatomas, is this regarding pa11y itself or the web-based dashboard?

[2015-11-09 11:10] vanatomas commented on #100
Hi, regarding web dashboard if both are differentl.
On Nov 9, 2015 3:51 AM, "Rowan Manning" <notifications@github.com> wrote:

[2015-11-09 11:57] rowanmanning commented on #100
Ah cool. Yes they're different projects. This repo is for the command-line tool, sorry for confusion. I've opened a new issue where I can answer :) https://github.com/nature/pa11y-dashboard/issues/86

[2015-11-09 11:57] #100 closed

[2015-11-11 17:44] vanatomas commented on #100
Hello, would you be able to respond on this one:

Authenticated editors? #87

On Mon, Nov 9, 2015 at 6:09 AM, DD <demdenis@gmail.com> wrote:

[2015-11-13 16:53] andrewholgate opened #102 "Add a PhantomJS path option/parameter"
At present, pa11y required PhantomJS to be installed globally. In order to automate the full installation, would it be possible to [add PhantomJS as a dependency](https://github.com/addyosmani/a11y/blob/master/package.json#L59)?

If not, an alternative would be to add a parameter for the path to the binary.

[2015-11-13 16:58] whymarrh commented on #102
This might be related to #79

[2015-11-13 17:54] andrewholgate opened #103 "Error: HeadlessError: Error executing command to extract phantom ports"
Using `3.0.0` and `3.0.1` (but not `2.4.4`) I receive the below error.

It appears to be caused by the upgrade from truffler [`1.0`](https://github.com/nature/pa11y/blob/2.4.4/package.json#L34) to [`2.0`](https://github.com/nature/pa11y/blob/2.4.4/package.json#L34).

[code]

[2015-11-17 09:25] rowanmanning commented on #102
Hi @andrewholgate, I'd rather not add PhantomJS as a dependency as we've had issues with the Node.js wrapper here. I'd like to avoid depending on more modules with C-bindings as this caused us a lot of issues with a separate library when we wanted to support newer versions of Node.js

However the idea of adding a parameter for the binary path sounds like a great idea, happy to work on this at some

[2015-11-17 09:27] rowanmanning commented on #103
Hmm, I haven't come across this before! Could I get a bit of information about your system? The following would be really useful, so I can try to replicate it:

- OS name/version
- Node.js version
- PhantomJS version

[2015-11-17 16:51] andrewholgate commented on #103
I did some more debugging on this issue and it is unrelated to pa11y.

It appears to be very similiar to issue baudehlo/node-phantom-simple#76, which the proposed fix does not work in my case. It's very specific, running a Ubuntu host with a Docker container. 2 colleagues running Mac hosts were unable to replicate.

[2015-11-17 16:51] #103 closed

[2015-11-17 17:14] andrewholgate commented on #102
This is a great compromise. It'll allow me to add PhantomJS as a dependency to our Node module and then let pa11y know where to look for the binary.

Looking forward to it!

[2015-11-17 23:55] joscha opened #104 "pa11y 3 does not work with a lot of pages any more"
Pa11y 3 uses Truffler 2 - Truffler 2 creates a new Phantom instance for each call to `.run` - when testing a lot of pages with pa11y at the same time, this means that the OS runs out of handles for the forked phantom. This basically renders pa11y 3 unusable for larger websites currently.

The error you get looks like this:
[code]

with your processes like this:
![activity_monitor__my_processes_](h

[2015-11-18 09:09] rowanmanning commented on #104
Hi @joscha, I'm not sure if this is something that can be addressed in pa11y itself without another breaking API change. How is your web crawler working and how many pages does it try to crawl at once? Does it use pa11y as a library or the command-line tool?

Internally we do process a large number of pages, but we either do it in sequence or by using [async's queue method](https://github.com/caol

[2015-11-18 09:29] joscha commented on #104
It uses pa11y as a library. The network of pages is in the multiple hundreds. I changed my code into being run sequentially now, that works but is painfully slow as I also have a wait of 3s on the page. I might check out the async concurrency which seems to be a good fit as then I can tweak it accordingly as you say. Just generally: what was the reason to construct a new phantom instance for every

[2015-11-18 09:35] rowanmanning commented on #104
A bit of both, but mostly because we were running into lots of issues with zombie processes which were at least partly related to long-running PhantomJS instances. Also the timeout logic was crazy complicated and a single timed out test could prevent later ones from running at all in certain situations.

I know it's not ideal to create a new instance for each call, but it allowed us to massively s

[2015-11-18 09:42] joscha commented on #104
Cool, thank you. I'll try async first, closing this for now.

[2015-11-18 09:42] #104 closed

[2015-11-19 10:45] rowanmanning commented on #94
Going to close this as it'll be solved when #98 makes it in. I'll hopefully have time to work on that in the near future.

[2015-11-19 10:45] #94 closed

[2015-12-01 17:12] andrewholgate commented on #102
@rowanmanning From my understanding of `pa11y`, I believe that in order to use the binary parameter, it also needs to be added to [truffler](https://github.com/nature/truffler/blob/master/lib/truffler.js#L28) which will need to allow for this parameter to be passed through to [node-phanton-simple via its options object](https://github.com/baudehlo/node-phantom-simple#createoptions-callback)?

[2015-12-02 13:28] rowanmanning opened #106 "Add a threshold configuration"
This could allow you to relax the command-line failure threshold, meaning that pa11y will only exit with a non-zero status if the error threshold is exceeded. E.g.

[code]

[2015-12-03 10:23] rowanmanning opened #107 "Relicense under LGPL"
It'd be good to relicense pa11y under the LGPL to match [Shunter](https://github.com/nature/shunter) and other more library-like open source projects that we publish.

[2015-12-08 14:12] lashab commented on #102
Phantomjs path parameter works as expected great work.

[2015-12-10 10:25] rowanmanning opened #108 "Allow ignoring of elements which match a certain CSS selector"
This would allow you to ignore elements on the page that are out of your control, such as advertisements or other third-party code. Open to suggestions on the JS/CLI APIs.

[2015-12-14 10:29] hollsk commented on #108
Idea: have Pa11y ignore anything inside an element with aria-hidden or HTML5 hidden applied to it.

Inspiration here: https://www.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/

Table detailing test results for those attributes in various combinations of browsers and screen readers is here: http://www.html5accessibility.com/tests/hidden2013.html

[2015-12-14 14:49] #102 closed

[2015-12-16 09:04] Hywan commented on #91
:+1:

[2015-12-16 09:04] Hywan commented on #91
Please, read URL from stdin, this way we can pipe a crawler to pa11y.

[2015-12-17 10:22] #106 closed

[2015-12-21 02:08] davidjb commented on #108
+1.  In my case I'm interested in also ignoring everything *but* a specific selector, so perhaps include/exclude options would satisfy both.  Having pa11y test the whole page but just filter the report output could be a solution.

In my specific use case, I have documentation pages from an upstream web framework and want to test a specific selector on each page (eg excluding everything else).

[2015-12-21 09:48] GlynnPhillips commented on #98
I started looking at this but then realised my solution was not the best for all cases so it might be helpful to figure out what the user cases we are trying to cover. A couple I can think of:

* Allowing for UI changes e.g. clicking on an element to open a hidden section
* Adding data and submitting form elements e.g. Log in
* Allowing for ajax requests to be made to update content

Some of the p

[2015-12-28 20:36] JeffHall commented on #98
I've just started experimenting with pa11y, and I'm very impressed by what I've seen so far!

So the obvious caveat is that I'm a newbie, but in thinking about this issue and the user cases that @GlynnPhillips mentions above, these are the ones that jump out at me:

* Allowing for UI changes e.g. clicking on an element to open a hidden section
* Allowing for ajax requests to be made to update cont

[2016-01-04 19:51] mfairchild365 opened #112 "json output ends early"
It looks like versions > 2.4.4 have issues with the JSON reporter. The majority of tests results in early termination of the JSON output. It doesn't seem to matter what pages I test against.

[2016-01-05 09:15] rowanmanning commented on #112
Hmm, that's not good at all! I'll look into fixing it, thanks

[2016-01-05 09:16] rowanmanning commented on #112
Steps to reproduce:

[code]

[2016-01-05 13:46] rowanmanning commented on #112
OK I've fixed this and released pa11y `2.4.5` and `3.2.1`. Thanks for reporting, @mfairchild365. Can you confirm that it's working for you now?

[2016-01-05 16:07] mfairchild365 commented on #112
Yep, seems to be working. Thanks for the quick fix!

[2016-01-05 16:07] #112 closed

[2016-01-08 22:39] shawnbot opened #114 "pa11y CLI message level options should not separate message types with semicolon"
Using semicolon as a type separator the `-i / --ignore` and `-l / --level` options is awkward because (in most shells) that character terminates the command sequence and starts a new one, so you have to go back and quote the argument value or escape it with a backslash:

[code]

It would be much better to use a comma instead, so you don't have to quote or escape it:

[code]

Or, additionally, you

[2016-01-11 10:27] rowanmanning commented on #114
Hi @shawnbot, I agree it'd be nice to use commas but unfortunately these often appear in the error codes that HTML CodeSniffer returns. E.g.

[code]

I think I went with semi colons because they're often used as a separator when a comma can't be. Do you have any suggestions for a different character?

[2016-01-11 10:29] rowanmanning commented on #114
I will investigate adding repeatable options though, we're using [Commander](https://github.com/tj/commander.js) so I just need to check if it's possible.

[2016-01-11 10:45] rowanmanning commented on #114
Great. Looks like I can do this with [coercion in Commander](https://github.com/tj/commander.js#coercion), I'll allow for multiple uses of `--ignore` but still split each usage on `;` so we don't lose backwards compatibility.

[2016-01-11 14:10] tavvy commented on #114
proposed solution https://github.com/nature/pa11y/pull/115

[2016-01-11 15:07] rowanmanning commented on #114
Looks good. Merged and released as pa11y 3.0. @shawnbot: the documentation is here, are you happy to close this issue? https://github.com/nature/pa11y#ignoring

[2016-01-11 16:47] #114 closed

[2016-01-11 16:47] rowanmanning commented on #114
Thank @tavvy – he did the actual work :)

[2016-01-12 21:23] vsraptor opened #117 "Testing a file instead of page ?"
Is there a way to test a html FILE instead of web page ?

[2016-01-12 21:24] vsraptor opened #118 "Handling Logins ?"
Where should I look to make changes if I need to add Login page support ?
Or is it already available ?!

thanks

[2016-01-13 09:04] rowanmanning commented on #117
Yes there is, you can use a URL with the "file" scheme. E.g.

[code]

Let me know if that doesn't work for some reason :)

[2016-01-13 09:04] #117 closed

[2016-01-13 09:11] rowanmanning commented on #118
Hi @vsraptor, there currently isn't login support but we're working on it. There's an ongoing issue here: #98, and @GlynnPhillips has started working on it. We decided the best way to get around it would be to allow users to execute their own PhantomJS code before pa11y runs.

In the meantime it is possible to set cookies in pa11y, so you could potentially create a session cookie in your test envi

[2016-01-13 09:11] #118 closed

[2016-01-13 09:17] rowanmanning commented on #117
(I'll get this added to the documentation for future reference too)

[2016-01-13 17:42] vsraptor commented on #117
I seem to be getting timeout ...

Error: Truffler timed out (30000ms)
    at C:\...\npm\node_modules\pa11y\node_modules\truffler\lib\truffler.js:75:17
    at C:\...\npm\node_modules\pa11y\node_modules\async\lib\async.js:689:13

Otherwise accessing the file via local http-server, works OK.

[2016-01-19 20:46] eli-oat opened #121 "Brew install phantoms no longer maintained"
Replace with `npm install phantomjs`

[2016-01-20 17:35] qaDream77 opened #122 "Pa11y and Logins"
So i opened the original ticket about authentication months ago and you suggested that running phantom code before pa11y executes would be the best solution.

I was wondering if there was any ETA on this or if i can help contribute?

Ideally all pa11y needs to do is scan the currently opened webpage
: phantomjs code beforehand

in some cases it is also useful to be able to take screenshots, so ano

[2016-01-21 08:02] GlynnPhillips commented on #121
Hi @eli-oat, I know they have in the past been having some issues when installing via `brew` (maybe this is reason enough for the change) but I have not seen anything where they state they will be dropping support for `brew`.

Maybe I have not looked hard enough, but do you have a source I could look at?

[2016-01-21 09:44] rowanmanning commented on #122
Hi @qaDream77,

There's not an ETA as such but it is being worked on here: #98. You may be able to contribute but I think it's really a case of me and @GlynnPhillips getting together and working it out.

I'm going to close this issue. If you'd like to open a separate one to discuss Selenium then that'd be cool. I imagine it won't make it into a 3.x release because there would be breaking changes,

[2016-01-21 09:44] #122 closed

[2016-01-21 09:49] petetnt commented on #121
When I was setting `pa11y` up (wrote #120), I used `npm` to update my `phantomjs` to version 2 with

[code]

Which works well (despite the usual PhantomJS problems on Windows).

The `README.md` states that `pa11y` requires PhantomJS but it doesn't define which version: v2 contains tons of breaking changes IIRC, (which would explain why I couldn't run it with 1.9 but 2.0 worked fine).

[2016-01-27 09:14] rowanmanning commented on #98
After a bit of thought I think that the simplest way to do this would be to give the end user a place to hook into PhantomJS directly. We could just stick an [extra function in here](https://github.com/nature/pa11y/blob/master/lib/pa11y.js#L123) which just runs the user code if there is some, then they can do whatever the hell they want and we cater for all the above use-cases (and more that we ca

[2016-01-27 09:19] rowanmanning commented on #90
@qaDream77: sorry for the delay, but are you still having this issue?

[2016-01-27 09:32] rowanmanning opened #123 "Test with PhantomJS 1.9 and 2.0"
I assumed that pa11y worked with PhantomJS 1.9 and 2.0 but I may be wrong. We should investigate this and clarify the versions of PhantomJS that we support in the README.

As an extra, it may even be possible to test with multiple versions of PhantomJS on Travis. If we can then we should.

[2016-01-27 09:32] rowanmanning commented on #121
Hi @eli-oat, I'm having the same issue as Glynn, I can't find the dropping of support anywhere. Could you provide a link?

@petetnt: ah separate issue, but pa11y _should_ work with `1.9` and `2.0`. Might not be the case. I've opened an issue to investigate: #123

[2016-01-27 09:40] GlynnPhillips commented on #98
That sounds good to me and solves the issues I was having with how to let pa11y know when the script is finished.

I had previously played with adding the function at pretty much the exact point you referenced inside `lib/pally.js`. Here is an example of what I had.

[code]

[2016-01-27 09:46] rowanmanning commented on #98
Oh yeah, cool. Well it's similar but the person writing the code is responsible for _everything_, and can set their own timeouts etc :)

[2016-01-27 09:49] GlynnPhillips commented on #98
Ohh yeah this was doing that as well _I think_ but I just removed the section where I was handling the callback from the user and added that comment because I didn't feel my handling of that callback was very elegant

[2016-01-27 10:16] petetnt commented on #123
FWIW the reason why I didn't get `pa11y` to run on 1.9. might have been due to the Windows binaries, not Phantom@v1 itself. But I didn't test much around it due to `v2` immediately working as expected.

[2016-01-27 20:16] qaDream77 commented on #98
My biggest concern is related to authentication, although i do use quite a bit of angular. I was wondering how this method/solution would work with CAS or LDAP authentication which has redirects?

Example.

www.mytestsite.com/myapp/login.html
i enter my username, password and any other parameters and post this page. This will redirect me to an intermediary page which generates a token and then to

[2016-01-31 06:19] softwareklinic opened #125 "pa11y return empty response after waiting for few seconds"
Keyurs-MacBook-Air:basic FamilyMac$ pa11y nature.com
Welcome to Pa11y

Keyurs-MacBook-Air:basic FamilyMac$

----------- can u help identify what could be the issue -----------------

[2016-02-01 09:25] rowanmanning commented on #125
Hi @softwareklinic, could you run the following (pa11y in debug mode) and let me know the output?

[code]

[2016-02-01 12:10] softwareklinic commented on #125
Ty - I figured it out - it was an issue
With not finding phantomjs.

Regards,
Keyur

On Feb 1, 2016, at 3:26 AM, Rowan Manning <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @softwareklinic<https://github.com/softwareklinic>, could you run the following (pa11y in debug mode) and let me know the output?

pa11y --debug nature.com<http://nature.com>

—
Reply to this email dire

[2016-02-01 13:34] rowanmanning commented on #125
Great. Thanks for letting me know

[2016-02-01 13:34] #125 closed

[2016-02-03 02:01] wrburgess opened #126 "pa11y returns empty response with and without --debug"
No matter what I've tried thus far, I run pa11y and get zero response.

## Environment

[code]

## Installation Steps

1. `npm install -g pa11y`
1. `npm install -g phantomjs2`
1. copied `/.npm-packages/lib/node_modules/phantomjs2/lib/phantom/bin/phantomjs.exe` to `/.npm-packages/lib/node_modules/npm/phantomjs.exe`

## Attempts

command: `pa11y nature.com`
response: `Welcome to Pa11y`

command: `pa

[2016-02-03 09:23] rowanmanning commented on #126
Hi @wrburgess, thanks for the detailed report! One part of your installation steps I don't quite understand is point 3. What does the copying do? It kind of looks like part of the Windows instructions (which means I need to clarify the docs).

One thing you could try is installing PhantomJS [through their site](http://phantomjs.org/) or using `brew` to install it.

If that fails, you could try poi

[2016-02-03 18:53] wrburgess commented on #126
*What does the copying do? It kind of looks like part of the Windows instructions*

@rowanmanning Honestly, I didn't know, but I was trying everything I could do before posting an issue. I did realize that the instructions were for Windows, but I decided to give it a shot on Mac in case I was supposed to know that already.

[2016-02-03 19:20] wrburgess commented on #126
BTW, this did the trick for me after installing with brew:

`pa11y nature.com --phantomjs /usr/local/bin/phantomjs`

[2016-02-03 19:20] #126 closed

[2016-02-04 09:13] rowanmanning commented on #126
Ah cool, well if you make sure `/usr/local/bin` is in your `PATH` environment variable you should be able to use pa11y without the `--phantomjs` flag :)

[2016-02-04 16:09] matthewmorek opened #131 "Apply rulesets based on doctype"
There are several WCAG2 rules that do not apply to HTML5, such as:
[code]
Pa11y doesn't seem to be able to distinguish between HTML4.01 and HTML5, so it applies all the rules regardless of specified doctype.

Sure, you can ignore certain rules, but wouldn't it be nicer to just run:
[code]
That way we could be sure our documents will be checked only against rules that actually apply to a given doct

[2016-02-04 20:08] shivangshah opened #132 "What's the different between Error, Warning, Notices"
I was going through the WCAG2.0 standards but I wasn't sure how they directly relate and correspond to `error`, `warning` and `notices`. I was just curious as to how this categorization is done? Is it documented somewhere?

[2016-02-04 23:02] shivangshah commented on #132
One of my colleagues found this: http://squizlabs.github.io/HTML_CodeSniffer/Standards/WCAG2/

[2016-02-04 23:02] #132 closed

[2016-02-09 10:26] GlynnPhillips commented on #108
I might try and have a think about this and propose something.

I think its worth mentioning that [this feature](https://github.com/nature/pa11y/pull/130) should make its way into the next release of Pa11y and it would allow you to manipulate the page to get the same result. It would of course require slightly more work on the user end

[2016-02-09 11:14] #107 closed

[2016-02-09 11:18] rowanmanning commented on #131
Hi @matthewmorek, thanks for the report. I agree it would be nice if pa11y was sensitive to the doctype, but we completely rely on [HTML CodeSniffer](http://squizlabs.github.io/HTML_CodeSniffer/) for the reporting of errors. I don't think it'd be maintainable for us to implement our own check of the doctype and exclude relevant rules.

There's already an issue open on HTML CodeSniffer which seems

[2016-02-09 11:18] #131 closed

[2016-02-09 11:49] rowanmanning commented on #85
I think we should cover this feature with #108, which would allow users to hide/ignore adverts. Happy to close, @GlynnPhillips?

[2016-02-09 11:52] GlynnPhillips commented on #98
We have now added this functionality and it has been released as part of 3.5.0 and you can see the changes [here](https://github.com/nature/pa11y/pull/130)

@qaDream77 I believe this should cover your user case and you can see an example we have put together in the commonly asked questions [here](https://github.com/nature/pa11y#how-can-pa11y-log-in-if-my-site-has-a-log-in-form)

Cheers

[2016-02-09 11:52] #98 closed

[2016-02-09 11:53] GlynnPhillips commented on #85
Yeah, agree.

[2016-02-09 11:53] #85 closed

[2016-02-09 13:16] GlynnPhillips commented on #108
After taking a look at this and thinking about @hollsk suggestion it turns out HTML CodeSniffer already ignores items within HTML5 `hidden` attributes.

The ability to rely on functionality already available within HTML CodeSniffer make this much easier to implement. Within https://github.com/nature/pa11y/blob/master/lib/inject.js we could manipulate the DOM to add the `hidden` attribute to elemen

[2016-02-09 13:21] GlynnPhillips opened #133 "Ignore everything but a given selector"
Previously raised by @davidjb in https://github.com/springernature/pa11y/issues/108

One way of achieving this could be to altering the second option [here](https://github.com/nature/pa11y/blob/master/lib/inject.js#L16) to use a query selector instead of the whole document

[2016-02-09 21:53] kranthi10 commented on #123
How do I locally install all pa11y dependencies with npm install. I have tried npm install and it is showing timeout error. Am I missing something please advice. Thanks

[2016-02-10 08:22] rowanmanning commented on #123
Hi @kranthi10, this isn't relevant to the issue with testing PhantomJS. Could you [open a new issue](https://github.com/springernature/pa11y/issues/new) with details about your operating system and Node.js version, please?

[2016-02-10 14:56] kranthi10 opened #135 "pa11y installation issue (Windows)"
I have cloned pa11y repo locally and I am having trouble with installing dependencies with npm install. It was timing out all the time. npm-debug has following lines as error message.
-- 18 info retry will retry, error on last attempt: Error: connect ETIMEDOUT 23.235.46.162:443

Operaing system: Windows 7 and Node.js version: v5.6.0

[2016-02-11 09:47] rowanmanning commented on #135
Hmm, I haven't come across this before. Have you tried cloning a different Node.js project to see if `npm install` works with that? That would tell us whether it's a pa11y issue or the way your npm is set up.

[2016-02-22 15:05] limestreet commented on #103
I think I have the same issue (`Error: HeadlessError: Error executing command to extract phantom ports`) with ubuntu 14.04 64 bit docker container on Shippable. On localhost (ubuntu 14.04 64 bit in docker/outside docker) it's working like a charm.
I found very similar issue (but related to uncss) mentioned on Shippable issue tracker: https://github.com/Shippable/support/issues/884 and it's probabl

[2016-02-23 14:38] GlynnPhillips commented on #133
@nickcall and I have looked at this today and found a slightly problem with the proposed approach.

By altering the second option [here](https://github.com/nature/pa11y/blob/master/lib/inject.js#L16) to select the area of the page to test you could end up with false errors in certain examples.

One example would be using anchors to jump to another region on the page. If the anchor as within the te

[2016-02-23 15:18] GlynnPhillips commented on #133
One approach we have come up with to achieve this without too much complexity would require pa11y to dictate that the element we want to limit our results too must have a data attribute applied to it. This data attribute could be named anything the user wants and would be passed in as an option.

Quick example of how `/lib/inject.js` could look

Inside the [buildElementIdentifier function](https:/

[2016-02-24 14:59] rowanmanning commented on #133
Alternatively you could allow any selector like we discussed before but still run the test on `document`. Then after the test has run you'd have to loop over the results and exclude any relating to elements that aren't children of the specified element. Does that make sense?

Some example pseudo-code to try and help explain:

[code]

I don't like the idea of you having to make modifications to you

[2016-02-25 20:18] davezen1 opened #137 "Allow Reporter Options for JavaScript Interface"
Would like to use the reporter options in the Javascript Interface.  The raw JSON results are great but would like to be able have the html option.

[2016-02-25 20:30] rowanmanning commented on #137
Hi @davezen1, actually you can do this by loading in the reporters manually – they're just functions that accept a pa11y results array:

[code]

I'll leave this issue open, and we'll get reporter loading documented in the README :)

[2016-02-25 20:44] rowanmanning commented on #137
Actually I lie, that doesn't quite do it because the HTML reporter logs the results rather than returning it. I'll look into this further. Sorry

[2016-02-26 13:49] GlynnPhillips commented on #133
Yeah, I agree and thats what I didn't like about my solution.

#138 now adds similar to the above but I would like some feedback on the `selector` option. Not sure if anyone has a better name for this

[2016-03-01 12:12] GlynnPhillips commented on #108
This has now been released in `3.6.0` https://github.com/springernature/pa11y#hideelements-string

[2016-03-01 12:12] #108 closed

[2016-03-01 12:12] GlynnPhillips commented on #133
This has now been released as part of `3.6.0` https://github.com/springernature/pa11y#rootelement-element

[2016-03-01 12:12] #133 closed

[2016-03-15 21:00] qaDream77 commented on #98
Thank you very much! I'm going back to this now :) I have modified the example above to suit my website, but how do i run it?

phantomjs login_test.js

This throws a reference error: can't find variable pa11y

[2016-03-16 13:00] GlynnPhillips commented on #98
Hi @qaDream77 you need to run `pa11y` with the `beforeScript` option set within your config.

If you are running pa11y via the command line here is an example of how that can be achieved within a config file.

**config.js file example**

[code]

**Command example**

[code]

[2016-03-16 15:12] rowanmanning commented on #98
@GlynnPhillips: your example JS file needs a `module.exports`, otherwise :ok_hand:

[2016-03-16 15:26] GlynnPhillips commented on #98
oops, silly copy and paste error. Thanks and good catch Rowan.

Now updated

[2016-03-16 16:22] qaDream77 commented on #98
I'll play around with it and come back. This is the confusing bit which is that i still provide nature.com as a parameter, is that still used by pa11y or no?

return window.location.href === 'http://example.com/myaccount';
and
pa11y --config ./path/to/config.js nature.com

Logically i want it to go to the login page and authenticate then redirect to my desired page for a scan. My phantomJS to acco

[2016-03-16 16:30] GlynnPhillips commented on #98
Sorry @qaDream77 maybe it would be clearer is my example referenced `example.com` all the time instead of `nature.com`. I will change the above now to make that clearer

Your example is still trying to do everything with `phantomjs` when there is no need. `pa11y` spins up an instance of `phantomjs` for you so there is no need for some of the above.

Also from your example I guess you are trying to

[2016-03-16 16:39] qaDream77 commented on #98
I am trying to run pa11y from the command line, I was just wondering because of the two different URL's :)

And the reason i posted my phantomJS code is because if you notice i have screenshots being taken, just to confirm for my own sanity that i'm actually being authenticated and redirected to my desired page. I had modified your code to the following
[code]

and my command line was

pa11y --con

[2016-03-16 17:25] qaDream77 commented on #98
I accidentally deleted the wrong comment :( Sorry!

I am trying to run form command line :) I modified your above code to the following:
**config.js
**
---
[code]
The commands to test different pages are:

pa11y --config ./path/to/config.js "http://example.com/app/page_1.html"
pa11y --config ./path/to/config.js "http://example.com/app/page_2.html"
pa11y --config ./path/to/config.js "http://example

[2016-03-16 17:27] GlynnPhillips commented on #98
So the problem is with your call to the `waitUntil` function.

You are returning whenever the url is equal to `https://sample.ca/app/client/page_one.html` and this is the same as the url that you are passing to `pa11y` on the command line.

This check of the url is done to validate that the login action has completed. In your example pa11y will continue and run the tests straight away before it ha

[2016-03-16 18:44] qaDream77 commented on #98
Well i have two methods of authentication.

1) LDAP, standard username and password and the redirect goes straight to the desired page! This works fine with the example script you provided, thank you!.

LDAP Login -> page_one

2) CAS, This method of authentication goes from the login page to a redirect which generates a success token which then redirects back to my desired page. This is a blank pa

[2016-03-16 19:46] qaDream77 commented on #98
Just one more question about config.json! The values for username and password, as well as the url. Is there any ways to pass those in as command line arguments?

Want to write a shell script to go through a list of websites and perform a scan on them!

[2016-03-16 21:10] GlynnPhillips commented on #98
Ok, so I was answering your previous questions which you accidentally deleted where you mentioned that if was taking the screen shot and running pa11y before the login had completed which is why I suggested checking for an element instead of url as it seemed like your url didn't change.

Anyway you have something working now so onto your next question about taking a screen shot. You would want to

[2016-03-16 22:18] JordanGS commented on #98
@GlynnPhillips

I am so glad that you guys have implemented this! I have been tracking this project for a while now and and super excited that i am able to authenticate into my website! **Thank you** very much!

Sorry if i am interrupting on this discussion but i wanted to say that I like the idea of using screenshots, it allows for validation when integrating in Jenkins, so you can manually confi

[2016-03-17 09:21] GlynnPhillips commented on #98
Hi @JordanGS no worries, if I am understanding your problem correctly it should be pretty straight forward to achieve using the login example in the [FAQ's](https://github.com/nature/pa11y#how-can-pa11y-log-in-if-my-site-has-a-log-in-form).

When running pa11y from the command line you would pass it the first url which contains the form that needs to be submitted with valid data.

`pa11y --config

[2016-03-21 16:57] rowanmanning commented on #135
I'm going to close this issue for now. If you're still having trouble then feel free to re-open.

[2016-03-21 16:57] #135 closed

[2016-03-21 16:58] rowanmanning commented on #121
I'm going to close this issue for now. If you're able to provide info about the deprecation of Homebrew PhantomJS then we can re-open

[2016-03-21 16:58] #121 closed

[2016-03-21 16:59] rowanmanning commented on #92
I'm going to close this issue for now as we won't be creating a Jenkins plugin as part of this repository. If you're having issues with Jenkins that you think are related to pa11y (and not the Jenkins setup) then feel free to open another issue.

[2016-03-21 16:59] #92 closed

[2016-03-21 17:00] rowanmanning commented on #90
I'm going to close this issue for now. If you're still having problems then feel free to re-open.

[2016-03-21 17:00] #90 closed

[2016-04-06 08:00] RobLoach commented on #103
Installing `net-tools` does not fix the issue, unfortunately. Running the same as @limestreet above.

[2016-04-11 14:34] adelevie opened #140 "Has anyone used pa11y on AWS Lambda?"
For scanning many pages, it can be advantageous to outsource the work to something like AWS Lambda.

Has anyone tried that? I'm going to be investigating this myself, and it would be nice to know of any successful techniques or pitfalls.

[2016-04-20 09:33] nickcall opened #142 "pa11y and HTMLcodesniffer giving different results"
An issue was raised in pa11y-dashboard which relates more to pa11y https://github.com/springernature/pa11y-dashboard/issues/97 thus raising the issue here

**Further info after looking into the original ticket**
Having tested http://www.nature.com/nplants from both pa11y using the cmd line and in a browser with HTMLcodesniffer you get very different results :-

**Cmd line (pa11y)** - 7 Errors / 72

[2016-04-20 19:19] limestreet commented on #103
I resolved problem by installing newest Phantomjs (2.1.1 - from their page) following this tutorial: https://gist.github.com/julionc/7476620 (I only changed version to latest one)
And then pa11y (from npm). Now all is working like a charm :)

[2016-04-20 19:58] RobLoach commented on #103
[phantomjs-prebuilt](https://www.npmjs.com/package/phantomjs-prebuilt) comes with `2.1.1`, which was still problematic for me last time I tested. `npm i phantomjs-prebuilt -g`

Could be installing it wrong. Will have another test with the latest updates.

[2016-04-22 18:16] hollsk commented on #142
We've been looking at this today. Adding `web-security: false` to the PhantomJS parameter list doesn't really make a difference on its own, though from what I can tell it _is_ one part of the puzzle, at least for situations involving CORS.

There's some suggestion [citation needed] that it's necessary to recursively load in content from iframes during `page.evaluate()`, making use of the webpage A

[2016-04-25 14:47] joseluisbolos opened #144 "Document that `make build-htmlcs` won’t run with npm 3.x"
The command `make build-htmlcs` that is used to manually pull the latest version of HTML codesniffer  won’t run with npm 3.x at the moment, only with npm 2.x.

We need to document that, at least until it can be fixed.

[2016-04-26 20:28] qaDream77 commented on #98
@GlynnPhillips Hi Glenn, I went back to this and the login script doesn't work any more. I am unsure as to why.

**config.js
**
`module.exports = {
    beforeScript: function(page, options, next) {
        var waitUntil = function(condition, retries, waitOver) {
            page.evaluate(condition, function(error, result) {
                if (result || retries < 1) {
                    waitOver(

[2016-04-28 16:01] hollsk commented on #142
There is a sister issue here: https://github.com/squizlabs/HTML_CodeSniffer/issues/109

HTML Code Sniffer has a CLI tool as well as a bookmarklet. We've tested against the CLI tool and found that it gives consistent results with Pa11y. As noted in the sister issue, HTML Code Sniffer and Pa11y both use PhantomJS to evaluate pages. The explanation given by @lwright-sq there pretty much covers it - w

[2016-04-28 18:38] JordanGS commented on #142
I was about to create a ticket for this as well. I have been using pa11y now to various sites and confirming the results with code sniffer. However as mentioned in the original report, the results do not match up. So i can validate that the OP's report of inconsistency.

[2016-04-28 18:43] hollsk commented on #142
Hey @JordanGS - are you able to confirm you're finding that the results are different between Pa11y and the HTML Code Sniffer command line tool? The like-for-like tests we've run have given the same results (NB: like-for-like tests are command line only, we can't really compare a CLI tool against a bookmarklet for the reasons given above).

If you have some sample URLs where Pa11y's results don't

[2016-04-29 16:57] JordanGS commented on #142
@hollsk I'm on break till the 5th of May and i currently don't have access to any of the internal sites i was testing. I will test and compare both command line tools when I am back.

[2016-05-02 15:04] davidmlentz opened #146 "CLI hide-elements option not working as expected"
From command line, including the `hide-elements` option appears to have no effect. Below is some output where the error listed should have been ignored:

**Command:** `pa11y --ignore "warning;notice" --hide-elements ".hidden_link" https://oit.boisestate.edu/`

**Result:**
    Error: Anchor element found with a valid href attribute, but no link content has been supplied.
    ├── `WCAG2AA.Principle4

[2016-05-02 20:55] rowanmanning commented on #146
Hi @davidmlentz, thanks for reporting this. I've verified it with a breaking test. @GlynnPhillips, do you have any thoughts?

[2016-05-02 21:25] GlynnPhillips commented on #146
Thanks @davidmlentz for the detailed report. This functionality relies on functionality of HTML_codesniffer and I can see in #143 that this was updated last week. Tomorrow I will look to see if this could be the cause and if not what the cause is.

[2016-05-03 10:21] gianluca78 opened #148 "What does zero error mean?"
Hello,
I need a clarification about the meaning of zero errors in the pa11y reports.
I think that the absence of a criteria from the report of errors could be caused by two different scenarios:

1. the accessibility criteria has been satisfied;
2. the accessibility criteria is not applicable to the webpage examined by pa11y (i.e. I can't search for textual alternative of images if the webpage does

[2016-05-03 12:35] nickcall commented on #148
Hi @gianluca78 - good to hear from you again, glad you're continuing to find pa11y useful :simple_smile:
In order to help us give a good answer, please can you tell us why you need to distinguish between scenario 1 and 2? Currently pa11y only allows for scenario 1, what usage would you have for scenario 2

[2016-05-04 07:11] gianluca78 commented on #148
Hi @nickcall ,
I just would like to calculate an "accessibility index". For this reason, a website with 0 errors in the scenario 1 is better than a website with no errors in the scenario 2. And the weight of zero errors would be different...

Thanks!

[2016-05-04 09:32] nickcall commented on #148
@gianluca78 It sounds like your trying to do some interesting stuff with pa11y!

We're only looking for accessibility errors and not ​_potential_ errors so I'm afraid scenario 2 isn't something we'd want to add support for in pa11y.

Maybe you could process the page separately using another tool, which can analyse how "simple" a page is accessibility-wise? We'd be interested to hear how you achiev

[2016-05-04 09:33] #148 closed

[2016-05-06 14:59] GlynnPhillips commented on #146
I have only managed to take a quick look at this but it looks like making an element `visibility:hidden` will cause `HTML_codesniffer` to not report some errors but will report others which was a bit of an oversight on my part.

So I think this means we need to rethink this functionality within `pa11y` as we cant rely on `HTML_codesniffer` to not report errors when an element is hidden which now t

[2016-05-17 20:32] JordanGS opened #150 "Contributing to Pa11y"
Hi Guys,

I've been using pa11y for accessibility testing and I wrote a couple shell scripts that solve the following two issues for me. There is also another script which generates a different type of report, bootstrap enhanced.

The issues I had were 98 which was resolved and then 91 which you are working on.
Allow running of additional PhantomJS code before pa11y runs #98
Ability to test multip

[2016-05-18 08:28] rowanmanning commented on #150
Hi @JordanGS. Thanks a lot for sharing, it's always great to hear from Pa11y users!

As you point out we've addressed #91, but if you have any feedback on our implementation then it'd be good to get your opinion. Currently it's very bare-bones, and there's no reason why we couldn't add "recipes" in future which make tasks like logging in a little simpler.

With your enhanced reporter, it's actuall

[2016-05-18 12:16] hollsk commented on #123
I've run some local testing on this and can confirm everything works as expected on Mac OS with the following versions of PhantomJS:
- 1.8.2
- 1.9.2
- 1.9.8
- 2.1.1

Phantom 1.7 fails, but that is the oldest version that it's possible to install with Homebrew, so we definitely shouldn't worry about that. I haven't tested on Phantom 2.0 but as noted in my list, Phantom 2.1 works fine. I don't belie

[2016-05-18 19:17] JordanGS commented on #150
@rowanmanning let me finish up a couple things and i'll show you what i have done so far and the justification behind it. Then you can recommend the best way to proceed. I'll be ready to upload early next week. I'm just testing several sites right now via Jenkins to make sure it's working as intended :)

[2016-05-18 19:20] rowanmanning opened #153 "Processing thousands of URLs"
Someone got in touch to ask about processing thousands of URLs in parallel. I remembered I had an example somewhere. This version isn't perfect, and is ES6, but we should add something similar to the examples folder https://gist.github.com/rowanmanning/cc5606c43030a9a064b8f7f9318db4a7

[2016-05-20 13:52] GlynnPhillips commented on #146
Hi @davidmlentz sorry for the delay on this, I have started on a fix for this which you can see here: https://github.com/springernature/pa11y/commit/fecadb960eadf86a832fdc0716e31f87a571ccfe

Although this is now working the code needs some tidying up to make it nicer to understand and we need to make sure this time that I added plenty of tests to proof it works.

Hopefully I should get some time o

[2016-05-23 10:15] rowanmanning commented on #140
Hey @adelevie, are we OK to close this issue now?

For anybody interested in running Pa11y in AWS Lambda, 18F have open sourced their solution here: https://github.com/18F/pa11y-lambda

@hollsk, @joseluisbolos, or @nickcall: do you fancy adding a link to the [examples part of the README](https://github.com/springernature/pa11y#examples)?

[2016-05-24 14:52] joviano-dias-springernature opened #156 "How to get HTML/Other reports when running node?"
Finding pa11y great. Was able to build a decent multi-url script and also build a docker image to run pa11y on cli. One thing still remains to be resolved though. How do I get HTML reports when running using node?
I know that running it via pa11y, the reporter can be specified. E.g.
[code]
How do I do the same with node?
[code]

Right now, I just get the results printed onto the console as

[code]

[2016-05-24 15:33] rowanmanning commented on #156
Hi @joviano-dias-springernature, I _think_ this might be a duplicate issue #137. Does that look like it might be the same? I'm hopefully going to look into making reporters usable to the JavaScript interface soon.

I'm going to close but happy to reopen if you're looking for something different :)

[2016-05-24 15:33] #156 closed

[2016-05-24 16:11] joviano-dias-springernature commented on #156
@rowanmanning yep, this seems to be the same issue. I just performed an untidy workaround. Will update it on the original one. Thanks!

[2016-05-24 16:15] joviano-dias-springernature commented on #137
I think I have a way to do this for the time being, it looks something like adding the following to your javascript test
[code]

The script looks something like
[code]
Need to add a way to write the html to a file now.

[2016-05-24 19:59] rowanmanning commented on #91
Hi @alex, we're going to descope this at the moment – it probably won't make it into the main library any time soon.

In the meantime, if you're looking for a multiple URL tester, then 18F are working on a Lambda function and I'm also going to be adding more examples in #153.

We may add this at some point in a later major version, but I'll close until then. Thanks

[2016-05-24 19:59] #91 closed

[2016-05-24 20:00] #140 closed

[2016-05-24 20:28] rowanmanning commented on #80
I think I'm going to close this actually, as it's not come up since. I think adding a `file://` example to the README has already done the trick, and the example I'm adding in #153 could be converted to use local files.

[2016-05-24 20:28] #80 closed

[2016-05-24 21:56] rowanmanning commented on #137
Hi @davezen1, @joviano-dias-springernature. I've made some changes which make using the reporters from the JavaScript interface possible. Could you verify that the work in #158 suits your needs?

I've managed to do this in a non-breaking way, which I'm pleased about!

[2016-05-24 22:06] rowanmanning opened #159 "Pa11y 4.0"
Pa11y 4.0 should be along soon. There are just a few issues we'd like to resolve before we set an end-of-support date for 3.x:

  - [x] #137 Allow Reporter Options for JavaScript Interface (Added in `3.8.0`)
  - [x] #142 pa11y and HTMLcodesniffer giving different results (Documented)
  - [x] #146 CLI hide-elements option not working as expected (PR opened: #160)
  - [x] #153 Processing thousands o

[2016-05-25 10:27] joviano-dias-springernature commented on #137
Hi @rowanmanning,

Thanks for addressing this. Works perfect. Waiting for pa11y 4.0

Here is my script, may be useful to some. It has some helper functions that write it out to an html file.
[code]

[2016-05-25 10:32] rowanmanning commented on #137
Cool! Actually this work should make it into Pa11y `3.8.0`, which I'll attempt to release this week.

[2016-05-25 10:37] joviano-dias-springernature commented on #137
Ah, nice!

[2016-05-25 12:25] #153 closed

[2016-05-25 12:25] #137 closed

[2016-05-27 14:33] nickcall commented on #142
Hi @JordanGS , We’ve done some analysis on why there can be differences between Pa11y/Pa11y dashboard and the HTML CodeSniffer bookmarklet.

We’ve documented the differences and reasons for them in the common questions [https://github.com/pa11y/pa11y/blob/master/README.md#common-questions] section of the Pa11y readme. I hope this helps to clarify the issue.

[2016-05-27 14:45] #142 closed

[2016-05-31 16:49] qaDream77 commented on #150
@rowanmanning Sorry i haven't update this in two weeks, i've struck a road block that i'm not sure how to resolve.

[2016-05-31 16:58] qaDream77 opened #162 "Authentication with Pa11y and multiple redirects."
Hello @GlynnPhillips @rowanmanning

I have having some issues with authentication and redirects.

Login portal: https://mysite.ca/admin.html
First Page after successful login: https://mysite.ca/admin/news.html
Desired Page: https://mysite.ca/admin/contact.html

**config.js:**
[code]

**Command to Run:**
`pa11y --config config.js "https://mysite.ca/admin/contact.html"`

**The Problem:**
If you manu

[2016-05-31 20:04] GlynnPhillips commented on #162
Hi @qaDream77

You will need to script the redirect manually yourself once the login has completed, this can easily be done with two separate calls to the `waitUntil` function. There are a couple other things that will prevent the above example from working which we can fix at the same time.

In the above example you are waiting until `window.location.href` equals `https://mysite.ca/admin.html` wh

[2016-06-01 14:46] qaDream77 commented on #162
@GlynnPhillips with update three, what is my command to run pally now? Is it the one from update two or has it changed? Thanks :)

[2016-06-01 14:48] GlynnPhillips commented on #162
@qaDream77 Sorry the ordering of that explanation is not very clear. Yes the command would be the one mentioned in update 2

`pa11y --config config.js "https://mysite.ca/admin.html"`

[2016-06-01 14:57] qaDream77 commented on #162
@GlynnPhillips Will try as soon as i get in, thanks a lot!

[2016-06-01 15:09] qaDream77 commented on #162
@GlynnPhillips

[code]

[2016-06-01 16:39] GlynnPhillips commented on #162
@qaDream77 sorry my bad, I didn't test what I wrote and I forgot that in order to redirect the page using `window.location.href` you would need to be doing this against the `phantomjs` `page` instance.

**Updated version**

[code]

[2016-06-01 17:24] qaDream77 commented on #162
@GlynnPhillips Thanks a lot man! I learned a lot through your script. I was having trouble with this because I get confused how to write these config files for pa11y. I have a hard time translating my normal javascript functions. It works great now :)

[2016-06-01 21:04] GlynnPhillips opened #164 "Output the final url rather than the original url passed to the command"
#162 has highlighted the desire for the final (tested) url to be output rather than the original url that was passed to the command line.

I imagine this change wouldn't need to be a special case and that `pa11y` could always output the final url. Even in cases where the page is not being alter via the `beforeScript` option the page could still be redirected and it would be desirable to output the

[2016-06-01 21:05] GlynnPhillips commented on #162
@qaDream77 no problem and always happy to help.

I can understand your desire to have the correct url referenced in the command line output. Using the current or previous versions of `pa11y` the only way to do this would be to alter the `beforeScript` to handle this extra redirect. However if @rowanmanning agree's we might be able to make a change in a future version to output the final url rather

[2016-06-01 21:10] rowanmanning commented on #164
I like that idea. Potentially the report would be better if we indicated that the start URL and end URL are different? E.g.

[code]

[2016-06-02 14:59] qaDream77 commented on #162
@GlynnPhillips Thank you! That helps a lot. Which is good news for me because in my case the start and end url can be the same thing because I have an automatic redirect if the user is not authenticated! =D

@JordanGS take a look at this mate.

[2016-06-02 15:01] JordanGS commented on #162
@qaDream77 Yup, I’ve been keeping track of it! Thanks for creating the ticket.

@GlynnPhillips Thank you for the clear explanation, that helps me a great deal.

[2016-06-02 15:04] GlynnPhillips commented on #162
Great, glad its helped. I am going to close this issue now but feel free to open issues if you need further help in the future.

[2016-06-02 15:04] #162 closed

[2016-06-02 21:24] JordanGS opened #165 "CodeSniffer error fails to run via command line from bash script."
In an .sh file i have the following: `pa11y --config $FILENAME.js "$URL" > OUTPUT/$FILENAME.txt` with passed in parameters will randomly generate the following error:

[code]

Any clarifications on this error would be appreciated, i am unsure myself after having attempted to troubleshoot on google and stack.

**Update:**
This doesn't always happen. Seems random, it'll work once or twice, then fail

[2016-06-02 22:06] rowanmanning commented on #165
Hi @JordanGS :)

I haven't seen this before, it actually looks like an [HTML CodeSniffer](http://squizlabs.github.io/HTML_CodeSniffer/) error. Could you try running the bookmarklet against your page to see if that works? If it doesn't work, then it'd be best to reopen this issue with them.

[2016-06-03 09:52] GlynnPhillips commented on #146
Hi @davidmlentz

Sorry about the delay on this when I initially thought I would be done in a couple days I hit some complications thrown up by Phantom. However I am now pretty much done with this and you can see the changes in #160.

I will add a couple more tests to make sure this time we are not pushing faulty functionality and then we will release this.

Thanks for your patience

[2016-06-03 11:51] GlynnPhillips commented on #146
This fix has now been published in `3.8.1` so I am closing this issue. If anyone has any further problems with this functionality please feel free to open a new issue.

[2016-06-03 11:51] #146 closed

[2016-06-03 13:14] Rayraegah commented on #150
@JordanGS do you have a fork of this feature? I've built something similar, using the UI testing script to change the state of a page and then execute pa11y on it (repeated for each page or module in a webapp). We simply piggyback on our existing scripts which powers our Selenium UI tests and [Wraith](https://github.com/BBC-News/wraith)

[2016-06-03 15:54] JordanGS commented on #165
@rowanmanning I tried running the bookmarklet (The one that's a bookmark in my browser) and it works with no issues.

[2016-06-03 16:03] JordanGS commented on #150
@Rayraegah Not currently, it's all in pieces. I am still working on integration since I’ve been busy with other projects. I am hoping to have something to show by next week.

Your configuration might be better than mine since you use selenium UI tests to launch pa11y, I couldn't figure out how to do that myself when I was trying to get pa11y to scan the current page.

Let's talk again next week an

[2016-06-03 16:16] Rayraegah commented on #150
I'll give you a fork of this code. I have it in an enterprise git; but I'll move this feature out like I did last time :)

[2016-06-03 17:02] JordanGS opened #166 "Pa11y fails to run on certain URLs"
[code]

This doesn't look like an encoding issue to me, but it might be? I don't understand why this happens because i have other URL's that have _'s in the them as well.

**Update:**

If i do not run it with quotes "", i get the following

[code]

Maybe an issue with the second get parameter `session_id` because if i change it to `sessionid`, it runs fine.

**Update 2:**

It's not session_id at f

[2016-06-03 18:53] JordanGS commented on #162
@GlynnPhillips So we've both been working on this and there seems to be an interesting issue. I am trying to use the same template script to authenticate into everything. However if my first page after successful login and my desired page are the same, pa11y won't properly evaluate the page. I'm unsure as to why. Trying to use the same JS script for everything, even if having a redirect in this ca

[2016-06-03 19:04] JordanGS opened #167 "Follow up to issue #162: Authentication with Pa11y and multiple redirects"
**Reference:** #162

@GlynnPhillips So we've both been working on this and there seems to be an interesting issue. I am trying to use the same template script to authenticate into everything. However if my first page after successful login and my desired page are the same, pa11y won't properly evaluate the page. I'm unsure as to why. Trying to use the same JS script for everything, even if having

[2016-06-05 12:24] #159 closed

[2016-06-06 08:18] GlynnPhillips commented on #167
Hi @JordanGS,

Can I just make sure I am following this correctly before I respond in full else I may just complicate / confuse things.

You want to use Pa11y to test `https://mysite.ca/admin/news.html` and this also happens to be the same page that you are redirected too when you are successfully logged in?

Glynn

[2016-06-06 15:30] JordanGS commented on #167
@GlynnPhillips Yes, i know it sounds redundant but i wanted to use a single template for the process for a list of URL's.

[2016-06-06 16:30] GlynnPhillips commented on #167
@JordanGS Ok now I understand the problem you are having. Your problem is that this config was designed specifically for the scenario given in your previous issue. If you want to be able to use one config for multiple different urls your config will need to be more dynamic than this.

Unless someone knows phantomJs better than me, I think there are two options (sort of) to do this.

1) Having mult

[2016-06-06 16:36] GlynnPhillips opened #169 "Pass the original url to the beforeScript feature"
It could be useful for the `beforeScript` feature to know about the original url passed to pa11y.

One user case would be logging into a site that has a barrier/paywall but don't respect the users original request after log in.
- `pa11y --debug --config config.js "https://example.com/cool-story"`
- https://example.com/cool-story automatically redirects you to https://example.com/barrier
- The `bef

[2016-06-06 18:32] JordanGS commented on #167
@GlynnPhillips Thanks, i was thinking the same thing. I'll upload my script once it's done.

[2016-06-07 15:31] GlynnPhillips commented on #167
@JordanGS I'm going to close this issue now and if in the future we work on anything that might make this easier for you I will be remember to notify you.

[2016-06-07 15:31] #167 closed

[2016-06-07 15:38] JordanGS commented on #165
@rowanmanning fixed it, the pa11y command needs to be run as a background process on linux, need to watch the pid and wait for it to finish or kill it if it hangs. Good stuff. =D

[2016-06-07 15:38] #165 closed

[2016-06-08 10:56] rowanmanning opened #170 "Hide warnings and notices by default"
I'm not a fan of the warnings and notices that Pa11y outputs. They're not really actionable, and they add quite a bit of noise to the reports. I'm wondering whether we should exclude them.

There are two options I can see:
1. Exclude them by default, but allow them to be enabled with something like `--include warnings`
2. Exclude them always, so you will never see them

Option 2 has the advantage

[2016-06-08 11:38] hollsk commented on #170
Excluding by default but allowing the option would be my preference. Although they're not always actionable, warnings and notices _are_ useful as general information for people who might not otherwise know (stuff like "click here" is a terrible text label for a link, for e.g.).

Also I think the existence of warnings and errors is really just an indication of _Pa11y_ not being able to test the par

[2016-06-08 11:53] typothecary commented on #170
We should write a blog post about why "click here" is bad, because it's annoyingly effective from a marketing p-o-v. (it gets good results when used in marketing emails)

[2016-06-08 14:27] JordanGS commented on #170
@rowanmanning I don't like the idea of excluding anything by default, everything should be included by default. But that is just my preference.

[2016-06-08 14:34] JordanGS commented on #166
@GlynnPhillips This seems to be a problem with the authentication script we wrote before. If i use `https://mysite.ca/contact_add.html?contactsessionid=4232` as part of the pa11y command, then it get the above error? Can you think of any reason for that or how i could further debug?

[2016-06-08 16:15] GlynnPhillips commented on #166
Hi @JordanGS

Can you confirm a few things for me please;

- Attach your config
- Is the domain you are posting the actual domain you are testing or is `mysite.ca` something you are using to hide the url you are test?
- Is the query string used to do something on the page? and if so can you confirm what it is doing?

[2016-06-08 18:14] JordanGS commented on #166
@GlynnPhillips `mysite.ca` is a mask, not an actual url.

**config.js**
[code]

`pally --config config.js 'https://mysite.ca/contact_add.html?contactsessionid=4232'`

throws the error

however, `pally --config config.js 'https://mysite.ca/news.html'`

seems to work. I have it being kicked off by jenkins now for 100 runs for the entire app to verify if that is the cause.

i wouldn't have thought th

[2016-06-08 19:06] GlynnPhillips commented on #166
Ok thanks @JordanGS. Would it be possible to give me the actual url that's being tested if we did that privately?

You could join the pa11y slack (http://pa11y.slack.com) and private message it to me there if your ok with that.

[2016-06-09 16:08] JordanGS commented on #166
@GlynnPhillips I asked my manager if i could do that and no go, there is no way to give someone that is outside the organization, everything is hosted on intranet. I also cannot create a user for someone outside the organization and it would be a breach of privacy to give you the real credentials and vpn access of an actual user. Sorry :(

I have a temporary solution as mentioned above and I'll ke

[2016-06-09 17:10] JordanGS opened #172 "Config file to navigate through pages doesn't work."
So we've got pa11y to navigate authenticate and go to the proper url in a previous post. My question now to @GlynnPhillips would be how to handle websites that have a precursor and have a workflow that you have to go through.

**Example:** `Page1.html > Page2.html > Page3.html` So to get to `Page3.html`, you have to input valid information in `1` and `2`, this is especially important in very data

[2016-06-09 18:29] JordanGS commented on #172
@GlynnPhillips added my phantomjs JavaScript file which works and goes through the site. The final destination in this case is `step2.html` which is my `page2.html` (same thing). I am wondering if i can translate this into the beforeScript so pally will evaluate `page2.html`

**test.js**
[code]

**Run with:** `phantomjs test.js`

[2016-06-10 09:56] hollsk commented on #170
As core developers, we do a _lot_ more testing of URLs than most users do, and we're often not even interested in the results, per se - we're just trying to replicate situations across methods and setups. It's really annoying to have to do that 50 times a day and always remember to switch off notices and warnings. Our use case is often pretty different to the use case of other people. What if we u

[2016-06-27 22:04] DarthOpto opened #173 "Can I do *.html and get all HTML files in a directory?"
If I have a directory with lots of other directories with HTML files in several of them, is there a way to look for all of the HTML files and run pa11y against them?
For example:
[code]
could I point to the root directory and then run `pa11y file:/root/*.html`?

[2016-06-30 12:04] hollsk commented on #173
Hi @DarthOpto !

Something like this might do the trick: https://github.com/pa11y/pa11y/blob/master/example/multiple-concurrent/index.js

The example uses URLs directly, so it'd need to be tweaked a little to look at the local filesystem recursively (you can do that with Node's `fs` module).

Hope that helps get you on track!

[2016-06-30 13:49] DarthOpto commented on #173
@hollsk Thank you very much. I will give that a shot. As a side note, will this work with an Angular app?

[2016-06-30 15:31] JordanGS commented on #172
@GlynnPhillips would you be able to shed some light if the before script is able to navigate through pages via java script? The above is a javascript to be run with phantomjs which navigates to the appropriate page but i cannot seem to get this working in a config file and i am wondering if this is due to pally not being able to do this or if i'm perhaps making a mistake along the way,

[2016-06-30 15:40] hollsk commented on #173
That's a very good question. Theoretically, it should work. Pa11y spins up a PhantomJS headless browser as its test environment, and Phantom supports AngularJS, so I can't see any immediate reason why it wouldn't work.

I _think_ it should be fine - so long as the files are recognisable HTML, they should be parsed as such.

[2016-06-30 18:28] JordanGS commented on #172
**config.js**
[code]

It works up to here, it gets to step2.html but if i try to add more after where the comments are to navigate to page 3 for example, it breaks, i have no error message. The only thing i have to go by is the `page.render` at the top which shows that it went back to `step1.html` as a failed condition and shows the error message. This is not the expected behaviour and i am unsure

[2016-06-30 18:53] DarthOpto commented on #173
Thank you.

Curtis Salisbury, MBA, MHRM
curtis.salisbury@gmail.com
curtissalisbury@yahoo.com

(801)310-4173 (Mobile)
(801)899-2143 (Home)

On Thu, Jun 30, 2016 at 9:40 AM, Hollie Kay <notifications@github.com>
wrote:

[2016-06-30 19:55] JordanGS commented on #172
So this doesn't actually work as i intended. I am trying to work through the pages step by step and not go to the url directly, need to work our different javascript :(

[2016-07-04 11:55] hollsk commented on #173
You're welcome - I'll close this issue now, and if you have any problems, please open a new one.

Enjoy! :-)

[2016-07-04 11:55] #173 closed

[2016-07-05 19:46] DarthOpto opened #174 "Different Results Command Line v. Node Script"
I am getting completely different results when I go through the command line just to my login page I am getting 11 errors, 3 warnings, and 9 notices. When I run my javascript file, I am only getting the following:

[code]

The javascript file I am using is below:

[code]

Am I doing something wrong? As a side note, the web app I am trying to test is an angular app.

[2016-07-06 10:13] hollsk commented on #174
How strange. Your script is correct, so no need to worry there. Could you please show us what the HTML source looks like so that we can try to replicate? A gist or codepen will be fine, no need for the full app.

Thanks!

[2016-07-06 14:34] DarthOpto commented on #174
It’s an angular app, and I am in test so I have no idea where everything is that would be needed. The HTML for that page is pretty sparse and only has just a couple of elements as everything else is part of the Angular stuff I believe.

[2016-07-06 16:51] hollsk commented on #174
I'm interested in the HTML that Pa11y _actually_ sees versus what it _should_ see - if it's mangled, or cut off, or perhaps if it's somehow being redirected to a page that it shouldn't be.

You can try adding a beforeScript method to your code that will output the HTML of the current page. I've added an example below. Does the HTML it outputs match what you see when you visit the login page in a b

[2016-07-06 19:37] DarthOpto commented on #174
I believe that all it is seeing is this which is what I get when I do View Source:

[code]

Versus what I see when I open up the developer tools, which is a lot more.

[2016-07-07 09:33] hollsk commented on #174
Great, that helps, thanks! So the contents of the view aren't being loaded. Since it works ok on the CLI, it sounds like a race condition.

A quick and dirty workaround might be to use the `wait` option in Pa11y, to pause testing until (hopefully) Angular has finished rendering its components:

[code]

A more robust way to handle it would be to emit an event from your app once Angular has finished

[2016-07-07 14:49] DarthOpto commented on #174
I actually did add a 10 second wait to my script and it had no effect. I got the same results.

[2016-07-14 23:15] mgifford opened #175 "Error: HeadlessError: Phantom immediately exited with: 127"
I'm not sure why I'm getting this error. I'm just trying to set this up.

$ pa11y nature.com
Welcome to Pa11y

    at ChildProcess.immediateExit (/usr/local/lib/node_modules/pa11y/node_modules/node-phantom-simple/node-phantom-simple.js:153:23)
    at ChildProcess.g (events.js:260:16)
    at emitTwo (events.js:87:13)
    at ChildProcess.emit (events.js:172:7)
    at Process.ChildProcess._handle.one

[2016-07-16 10:09] hollsk commented on #175
Hi @mgifford - could you give us a little more info about your setup, please? Node version and Phantom version? Also are you running on your local machine or in a container? What's the operating system?

[2016-07-16 10:47] hollsk commented on #174
Yep, it doesn't always work for some reason (I've never tried this myself, that's just what I see from other people's issues around the 'net). Try the second method, which is the more "proper" way to do it. Essentially the problem is occurring between Angular and Phantom, so try the tools that Angular and Phantom provide.

Here's the Angular documentation on emitting an event once the view has loa

[2016-07-16 13:19] mgifford commented on #175
Hmm..  I have gone through the steps, but something seems to be off it's true. I can't run this:

[code]

I'm doing this on a Mac...

[2016-07-17 16:45] hollsk commented on #175
Hm. Looks like your Phantom executable is in DOS mode and throwing an error on an `/r` line ending. You can try converting it to Unix-style format instead - if you're using [Homebrew](https://github.com/Homebrew/brew), then you can do:

[code]

[2016-07-17 22:10] mgifford commented on #175
That seemed to work, thanks!

I couldn't actually apply dos2unix to /usr/local/bin/phantomjs though as it was a symbolic link.  I tracked down exactly where this was causing me grief with:

[code]

[2016-07-18 11:36] hollsk commented on #175
Oh, good catch. I'll need to remember that if the situation pops up again, thanks!

[2016-07-18 11:36] #175 closed

[2016-07-18 15:59] DannyJoris opened #176 "Context markup different than source code"
I'm getting errors related to HTML objects. When I navigate to the site, I'm seeing iframes instead. The markup is related to a video player, so I assume that the object is replaced with an iframe with javascript.

I tried setting a timeout, but that didn't work either: `pa11y http://msbonline.georgetown.edu/ --wait 10000`.

This is the error I'm getting, which is not reflected when visiting the s

[2016-07-19 09:03] rowanmanning commented on #176
Hi Danny, I'll look into this. No, we don't disable JavaScript when we're running Pa11y on a page, so it's not that.

[2016-07-19 15:43] jonnybarnes opened #177 "Can't open a site hosted on the same vps"
Pa11y works with a friends site hosted on his server, but not with my site on my server.

A sample entry from `~/.pm2/logs/pa11y-out.0.log`:

[code]

Now, its not actually phantomjs, this test script opens my page as expected:

[code]

So I’m not sure what gives. FYI, my vps is running Debian 8.5 and has node 6.3.0 installed.

[2016-07-19 16:13] hollsk commented on #177
Hi @jonnybarnes - thanks for the detailed ticket!

We use `'ssl-protocol': 'tlsv1'` in the config by default, and it looks like your webserver is rejecting that request due to a protocol mismatch. If you change your pa11y config to use `'ssl-protocol': 'any'` that should get you up and running.

[2016-07-19 16:48] jonnybarnes commented on #177
Where would I declare the `ssl-protocol` value? Adding it to `config/production.json` seems not to work.

[2016-07-19 16:59] jonnybarnes commented on #177
Okay, directly editing `pa11y.js` inside the `node_modules/` works! :D

But an `npm update` could overwrite that in the future...

[2016-07-19 17:14] hollsk commented on #177
Glad you got it working! And you're right about the overwriting - normally you'd want to create a new file elsewhere to spin up a Pa11y instance, and override the default configuration there. We've put some basic examples up here: https://github.com/pa11y/pa11y/tree/master/example

[2016-07-19 17:37] hollsk opened #178 "Global configuration"
Is there a case to be made for an optional global configuration? This is something that I keep coming back to, in my head, over and over.

What if you _always_ want to ignore notices for every test you run?
What if you _always_ want to set `ignore-ssl-errors` in Phantom to false?
What if you _always_ want to run in debug mode?

Right now, we can specify that we want to use X config file with the `

[2016-07-22 11:12] hollsk opened #180 "Document what the --threshold flag does a bit better"
The current documentation is a bit confusing. Could be worded better in the help interface and could also do with an example in the README.

[2016-07-22 11:14] rowanmanning opened #181 "Check the documentation for typos"
I've just noticed that in the README I've spelled "seperated" instead of "separated". There are probably more of these, and I don't want to open a PR with a single letter change 😂

[2016-07-22 14:09] hollsk commented on #180
resolved by #182

[2016-07-22 14:09] #180 closed

[2016-07-22 16:15] hollsk commented on #164
Should this issue be moved to [Truffler](https://github.com/springernature/truffler)?

[2016-07-22 17:08] rowanmanning commented on #164
Yes I think it probably should maybe I'm not sure I'll check properly in a bit? 😂

[2016-07-28 20:42] PhillyWebGuy commented on #175
I've gotten to the point of getting the dos2unix error with symbolic links. Then what? Where do I go from there?

[2016-07-28 20:46] PhillyWebGuy commented on #175
Ah, nevermind. I figured it out.

[2016-08-08 15:29] PhillyWebGuy opened #185 "Trouble with including functions within page.evalutate - scope issue?"
I'm trying to make my code a bit more modular and reusable, and am thus including code I intend upon using in numerous tests in external files. My config file looks as such.

[code]

The code inside my-pa11y.js looks like this:

[code]

The problem I am having is that the myPa11y.login() never seems to execute. But I copy and paste that code within the function and place within the page.evaluate()

[2016-08-09 14:34] PhillyWebGuy opened #186 "pa11y command line options as configuration options"
Is there a reason why we can't include things like reporter configuration in configuration files?

[2016-08-10 14:36] rowanmanning commented on #186
No reason, no. It would make sense for you to be able to configure Pa11y in either place, it's just that nobody has had time to do it. Would happily accept a PR :)

[2016-08-10 14:43] PhillyWebGuy commented on #186
Ok. In that case, you maybe hearing from me again :)

[2016-08-17 16:14] #123 closed

[2016-08-25 20:24] chiahrens opened #188 "Cookie only works on initial request"
Setting the cookies via headers only sets the cookies on the initial request. Consecutive ajax requests are made without the cookies.

[2016-09-05 14:38] alleypa opened #189 "pa11y not working on windows 10"
After carefully following all the setup outlined for pa11y configuration. I can't get it to work on Window 10,  node 4.2.3. Any ideas what is going on with phantomjs. I get `Error: spawn ./node_modules/phantomjs-prebuilt/bin/phantomjs ENOENT`. No matter what I do. My current version of pa11y is 4.0.1

[2016-09-06 12:59] mgifford commented on #175
Ultimately what fixed my issue seemed to be http://stackoverflow.com/questions/18218134/warning-phantomjs-not-found

and specifically:

npm install phantomjs -g

[2016-09-14 16:41] kahunacohen opened #191 "Invalid JSON output?"
Hi, the default reporter and the json reporter seem to output invalid json. For example, keys have no double quotes, and values are single quoted. I can't imagine why since you are using `bfj` module which I assume would properly parse JSON.

[2016-09-14 16:53] joseluisbolos commented on #191
Hi @kahunacohen

Thanks for your bug report.

Unfortunately, I can't seem to be able to to replicate this issue here. For example, running the following command:

```pa11y --reporter json nature.com > report.json```

Returns the following result (snippet):
[code]

As far as I can see both keys and values are correctly enclosed in double quotes and the result correctly validates.

Could you please

[2016-09-14 18:39] kahunacohen commented on #191
I am running programmatically from node. That `json` string is invalid. And obviously the `eval` is my quick hack.

[code]

[2016-09-14 18:41] kahunacohen commented on #191
Node version: v0.10.24
Linux

[2016-09-14 19:35] kahunacohen opened #192 "How to write custom tests"
Loving this product. Not seeing much in the docs apart from some vauge wording about using a config to point to custom standards.

I would love to know how to best write my own standard. I'd be willing to contribute to the docs to make this clearer to others. I also saw in some discussion somewhere that you are abandoning HTML Code Sniffer as  tester and PhantomJS. Is this coming shortly? If so ho

[2016-09-15 08:06] rowanmanning commented on #191
Hi @kahunacohen, I'm looking into this now. For a start, the latest version of [Pa11y only supports Node.js 4+](https://github.com/pa11y/pa11y#support-and-migration). Are you using an older version of Pa11y? (`pa11y --version`).

[2016-09-15 08:14] rowanmanning commented on #191
The code you posted above runs fine in Node.js 4.

One thing I notice is that you're logging the JSON for each result separately. If you're piping this into a file then each _line_ will be valid JSON but not the whole thing. You'd need to add each result to an array or something before JSON-encoding it.

If you can explain what you're trying to achieve, then I'm happy to help out with getting your

[2016-09-15 08:20] rowanmanning commented on #192
Hi @kahunacohen. There are no immediate plans to move away from HTML CodeSniffer, as it'd be a significant amount of work and we don't really have the resource to maintain our own testing suite.

In terms of writing your own standard, the best place to look/ask about it is probably the [HTML CodeSniffer repo](https://github.com/squizlabs/HTML_CodeSniffer). Pa11y allows you to reference a custom bu

[2016-09-15 14:07] kahunacohen commented on #191
Indeed  I was using a very old version of node. I changed to `v4.5.0`, removed my `node_modules` directory and ran `npm install` again, but that doesn't change anything. My code pasted above produces valid JSON because I hacked it with the code:

[code]
...but I would expect the `json` variable returned by the line:

[code]

to be valid json to begin with. Instead I get stuff like the following wh

[2016-09-15 14:40] rowanmanning commented on #191
Oh! I understand the confusion. The JSON reporter doesn't actually return a JSON string, this is confusing I know. We added the ability to load reporters in the JavaScript API recently and the JSON one was problematic because the streaming BFJ would have a different API than all of the other reporters.

The JSON reporter actually just returns an object, the same one that's passed in. [You can see

[2016-09-15 15:33] kahunacohen commented on #191
OK. Thanks. Not sure I really understand. Why call it a json reporter? And isn't this the same as the default output?

[2016-09-15 15:34] kahunacohen commented on #192
I see. I'll try this.

[2016-09-15 15:35] kahunacohen commented on #192
Can you explain exactly the relationship between HTML CodeSniffer and pa11y? Who sponsers pa11y? Thanks!

[2016-09-15 17:21] kahunacohen commented on #192
When I clone html code sniffer, point pa11y using `htmlcs` config at the html cs js file in that cloned repo on my file system, pa11y hangs. Using node v4.5.0 on Linux. Have you guys ever used this option?

[2016-09-16 08:49] rowanmanning commented on #191
It's called the JSON reporter because its original purpose is to output JSON when used with the CLI version of Pa11y. It still does this using BFJ, but the behaviour just didn't translate over to the JavaScript API when it came to being written.

[2016-09-16 08:49] #191 closed

[2016-09-16 08:54] rowanmanning commented on #192
Hi, yep we've used this option a lot. It requires that you point at a fully built version of HTML CodeSniffer, there are [instructions on how to do this in their repo](https://github.com/squizlabs/HTML_CodeSniffer#building-the-auditor). For the version of HTMLCS that's bundled with Pa11y, we use Make – [you can see the task here](https://github.com/pa11y/pa11y/blob/master/Makefile#L48).

So your c

[2016-11-07 17:40] rajesh825 opened #195 "pa11y not waiting till angularJS website completely loaded"
Hello,
I'm trying to run Pa11y on angularJS Website that involves login using following script.
However test always validating test site login screen only, does not seem to wait till homepage is loaded.

Would you please advise if any work-around to overcome this.

[code]

[2016-11-08 10:41] rajesh825 opened #196 "pa11y not parsing html page source, only works with url"
Hello,
I was trying to use Pa11y to parse html page source using -H command line flag

`$ pa11y -H ./index.html   **or**  pa11y --htmlcs ./index.html`

however pa11y not recognising html content and displaying pa11y command line help , even though command line help states can provide path to source from (listed below)

-H, --htmlcs <url>             the URL or path to source HTML_CodeSniffer from

[2016-11-09 18:53] ezraroda opened #197 "beforeScript - page"
Sorry for the newbies question,
I'm trying to perform login using the beforeScript option, I tried both CLI and JS, but I keep getting "page" as empty object {} parameter to beforeScript function.

[code]

I'm using:
phantomjs - v2.1.1
node - v6.9.1

Installed pa11y using : npm install pa11y
which include already "node-phantom-simple" bridge

Looks like I'm missing something basic,
Any other depen

[2016-11-10 00:49] ezraroda commented on #197
The HeadlessError is thrown from node-phantom-simple.js line 258
`callback(new HeadlessError('Error executing command to extract phantom ports: ' + err));`
after failing to run the mac command to find the port phantomjs is listening:
[code]

Any idea ?

[2016-11-10 10:08] rowanmanning commented on #185
Hi @PhillyWebGuy. Yes the issue here is that the beforeScript function is run in a PhantomJS context, and your reusable functions are in a Node.js context. PhantomJS code can't directly call Node.js code as they don't share the same scope. Does that make sense?

Unfortunately this is a limitation of the way Node.js interacts with PhantomJS. One workaround you could try is to save your `login` and

[2016-11-10 10:08] #185 closed

[2016-11-10 10:10] rowanmanning commented on #178
I do like the idea of this, maybe supporting a local and global config file. By default we look for `pa11y.json` in the repo, maybe we could merge local config with a global config found in `~/.pa11y.json` or something?

[2016-11-10 10:13] rowanmanning commented on #174
Did we get anywhere with this? I'm going to close as a potential incompatibility between Angular and PhantomJS but happy to reopen if that's not the case.

[2016-11-10 10:13] #174 closed

[2016-11-10 10:15] #177 closed

[2016-11-10 10:18] rowanmanning commented on #181
I think we can probably close this as @bradarv90 did a great job of catching issues 🙂

[2016-11-10 10:18] #181 closed

[2016-11-10 10:18] hollsk commented on #177
We deployed an update to one of Pa11y's dependencies that should make debugging this kind of issue easier in future: https://github.com/springernature/truffler/pull/13

[2016-11-10 10:21] rowanmanning commented on #188
Hi @chiahrens, I have a feeling this is probably a limitation of PhantomJS. Could a potential solution would be to set cookie headers explicitly in the AJAX requests on your page?

I'm going to close this as Pa11y does not have the ability to change the way AJAX behaves, but still happy to try and debug with you.

[2016-11-10 10:21] #188 closed

[2016-11-10 10:23] rowanmanning commented on #189
Hi @alleypa, I'll try and get a Windows 10 machine or VM and debug this.

[2016-11-10 10:24] rowanmanning commented on #192
I'm going to close this issue for now, as it's in the remit of HTML CodeSniffer.

[2016-11-10 10:24] #192 closed

[2016-11-10 10:44] rowanmanning commented on #195
Hi @rajesh825. The only thing I can think is that your `waitUntil` is firing before the login is complete. It may be that the URL is set to `/#/` before the login is actually finished.

It might be better to check for something different in your `waitUntil` call. E.g. if logging in adds a username to an element somewhere then you could use:

[code]

Other than that, I'm not sure if I can help that

[2016-11-10 10:44] #195 closed

[2016-11-10 10:47] rowanmanning commented on #196
Hi @rajesh825, you're misunderstanding the `-H, --htmlcs` option. That is used to point to a custom build of HTML CodeSniffer and not the page you're testing.

You can test local HTML files with Pa11y by using the `file` protocol, as mentioned here: https://github.com/pa11y/pa11y/issues/75#issuecomment-110384123

[2016-11-10 10:47] #196 closed

[2016-11-10 10:53] rowanmanning commented on #197
Hey @ezraroda. I think `JSON.stringify(page)` will always return `{}` because it doesn't have any properties that can be JSON stringified – I think they're all functions.

Have you tried running something simple with the `beforeScript`, like the stuff in the examples?

[2016-11-10 14:01] ezraroda commented on #197
Hey Rowen,
Thanks for your reply!
Yes, I did try something simple like printing out document.title, but it never goes into page.evaluate function when called inside beforeScript.

Seems like the error is thrown from node-phantom-simple when trying to look for the listening phantoms port in Mac.

Any idea?

- Ezra

[2016-11-10 16:59] alleypa commented on #189
Hi @rowanmanning  thanks for looking into. Using pa11y works on colleagues machines running Linux/Mac Os. But on windows 10 no joy. Hopefully you see what is going on.

[2016-11-10 18:52] ezraroda commented on #197
Running the following :

[code]

Print output:

[code]

[code]

Anything wrong with `page.evaluate` ??

[2016-11-11 09:58] rowanmanning commented on #197
Ah yes, the issue is that your `page.evaluate` call is in a _PhantomJS_ context, not a Node.js one. It can't have direct access to functions defined in Node.js because the function is run in a completely different environment. It's confusing, I know, but a limitation of the way we communicate with PhantomJS.

If you're trying to get the title of the page, I've modified your example to work. The wa

[2016-11-11 09:58] #197 closed

[2016-11-11 10:10] rowanmanning commented on #176
Hi @DannyJoris, I'm not able to replicate the issue at the moment – has your page changed? I don't get the error that you mention when I run the following (with other errors ignored for clarity):

[code]

[2016-11-11 22:44] marcelosomers opened #199 "Multiple user interactions & navigation before testing page"
I'm trying to test a site that requires multiple interactions & login before I can access the page I need to test. This is a similar issue to #162 and #167, but can't seem to find the fix there. I am using the JavaScript interface to test.

The flow I need to configure using `beforeScript` goes something like this:

I want to test http://mysite.com/checkout/delivery.html, but to access we need to:

[2016-11-16 20:57] mfairchild365 commented on #166
So, I just had a similar issue and figured out that it was due to some SSL configuration. This is how I fixed it. I created a config.json file and passed it with command line via the --config option:

[code]

The default appears to be `tlsv1`.

[2016-11-17 13:08] joseluisbolos commented on #166
Hi @JordanGS - Is this still an issue?

[2016-11-17 16:54] hollsk commented on #199
Hi @marcelosomers - it's _very_ complex, you're right 😃

You were correct the first time. The URL in `test.run` is the one that you begin on, and Pa11y only begins to test the page it's currently on once it receives the `next` instruction. I'm assuming that your first script was more or less similar to this one except for the URL, and I think that the complexity of what you're doing has masked the

[2016-11-17 17:08] hollsk opened #200 "Add complex interactions to Pa11y examples/cookbook"
We've already got a [beforeScript example](https://github.com/pa11y/pa11y/tree/master/example/before-script) but it's pretty simple and means that people end up in callback hell if they follow it while doing something complicated (e.g #199 ). Would be good to see an expanded example that uses promises instead.

This isn't a Pa11y problem, it's a javascript architecture / design pattern problem, bu

[2016-11-17 17:08] JordanGS commented on #166
@joseluisbolos Don't know, i've been busy with security testing and such that i haven't been using pa11y since i couldn't get it to do what i want at the moment. I'll have some free time in the coming weeks that i'll update then.

[2016-11-18 13:44] joseluisbolos commented on #166
Excellent, no worries. If you ever get round to have a look at this again, please make sure you're using the latest version of phantomjs (2.1.1 at the time of writing). There were some `ssl-protocol`-related changes on phantom 1.9.8 so I'm wondering if that could have anything to do with it.

There's currently an open PR in pa11y ( #190 ) to include `phantomjs-prebuilt`. This will ensure that we'r

[2016-11-18 13:44] #166 closed

[2016-11-18 17:42] hollsk opened #201 "Something squirly is going on with local files"
## Summary:

Local files loaded with the file: protocol don't seem to be getting read by Phantom, even though Phantom reports success at opening them(?!)

As a result, all pages that are tested in this way return the same two errors, "no title" and "no lang".

I've also tested with Phantom's screenshotter and that seems to confirm that there's nothing there for it to read, even though the opening

[2016-11-18 17:53] hollsk commented on #201
This user on Reddit appears to have the same problem (6 months ago, no solution found there either) https://www.reddit.com/r/javascript/comments/4jbnui/phantomjs_rendering_from_local_file/

[2016-11-18 21:15] marcelosomers commented on #199
Thank you so much for your response! I saw #200 as well, which would be super beneficial, even though it's more of an architecture discussion than pa11y specific. I hope this documentation is able to be written, because this is callback hell for sure.

Makes sense to move the `beforeScript` from the `test.run` block. But FYI, the documentation [makes it sound like you can override it per test](htt

[2016-11-18 21:30] joseluisbolos commented on #201
It looks like phantomjs (and therefore pa11y) will only accept full-path URIs as per the [File URI scheme](https://en.wikipedia.org/wiki/File_URI_scheme) specs, which takes the form of:

[code]

If the fully qualified domain name is localhost, this can be omitted. However, the single slash between host and path is part of the syntax of URLs and cannot be omitted.

I can verify that this works as e

[2016-11-18 23:57] hollsk commented on #201
OMG. Good spot. Agree that these updates to the docs will help.

We could probably also add some error handling so that Pa11y will notify and exit if it encounters a faulty path. Because Phantom doesn't throw any kind of error, it's essentially a silent failure state.

@Alicole - does this help with your local vs URL problem earlier?

[2016-11-18 23:59] hollsk opened #202 "Update the docs to make absolute paths explicit for local files"
also update docs to use protocols in front of examples, as per the solution in #201

[2016-11-19 00:02] joseluisbolos commented on #201
Agreed on adding some error handling. Not sure how to do it though without using... regexes! :scream:

[2016-11-19 00:06] hollsk opened #203 "Detect if a local filepath passed to Pa11y is relative, throw error if this is the case"
See #201 for details.

PhantomJS will accept a local file with a relative path and return a "success" status on `page.open`, but is unable to read the file. No errors are thrown when this happens, so Pa11y continues to run on a blank page, which gives unexpected and confusing results.

Node v0.11.2 and up have a [path.isAbsolute()](https://nodejs.org/api/path.html#path_path_isabsolute_path) method

[2016-11-19 00:07] hollsk commented on #201
NO REGEX FOR YOU!

[2016-11-19 00:07] #201 closed

[2016-11-19 18:13] hollsk commented on #199
Oh, hrm. The documentation _does_ say that, very clearly. Perhaps I'm wrong about having to set it up beforehand (wouldn't be the first time ;) )

In any case, I've created my own bare-bones HTML site and Pa11y JS to simulate your interactions, and I don't get the same results as you with my slightly simplified code. One thing I did in my Pa11y JS was to add a couple of helpers to get more informa

[2016-11-20 18:58] #202 closed

[2016-11-21 00:22] SimitTomar opened #206 "Pa11y not working"
Hi,

I installed Pa11y but on running my scripts, I am not getting any Pa11y results, rather getting the below error:

Cannot read property 'length' of undefined
TypeError: Cannot read property 'length' of undefined
    at Object.buildMarkdown [as process] (D:\Llyods\AutomationFramework\pao-savings-cwa\node_modules\pa11y\reporter\m
    at D:\Llyods\AutomationFramework\pao-savings-cwa\tests\accepta

[2016-11-21 10:13] joseluisbolos commented on #206
Hi @SimitTomar,

Welcome to Pa11y! Thanks for creating this issue.

Do you think you could be able to provide some more details - like a simplified version of the scripts that you're running that triggers this behaviour?

The error that you show is not very descriptive, but it looks like it could be a problem with your code. It's impossible for us to tell without seeing it. If you can show us some

[2016-11-21 10:51] Alicole commented on #201
@hollsk -- sounds goods -- at least prevent confusion in terms of the user.

As you say if the underlying library does not provide any appropriate error handling, anything added for Pa11y would be beneficial and a definite improvement in terms of UX.

A potential +1 for the team, is it worth contributing this back to Phantom considering the number of projects now that depend on it as a headless we

[2016-11-21 14:51] joseluisbolos opened #208 "Improve logic for loading config files"
Currently the logic for loading config files is not very restrictive and it will silently fail if for example there's an error in the JSON file. I suggest we make changes to:

* Print out the effective config that is being used when running a test
* Change the logic so it fails if a config file is invalid. Unit tests for this should be added too.

[2016-11-21 15:24] hollsk opened #210 "Add a troubleshooting document"
We already have a troubleshooting doc for the Dashboard, but we need one for Pa11y core too:

https://github.com/pa11y/dashboard/blob/master/TROUBLESHOOTING.md

[2016-11-21 17:13] joseluisbolos commented on #166
For future reference of anyone finding this issue, we've just released a version [4.1.0](https://github.com/pa11y/pa11y/blob/master/CHANGELOG.md#410-2016-11-21) of pa11y that:
* Uses `phantomjs-prebuilt` to install phantomjs, so it's not necessary to install it separately anymore, and we'll always be sure that we're using the latest version.
* Reverted #62, which could be causing problems like the

[2016-11-21 23:38] SimitTomar commented on #206
Hi joseluisbolos,

I actually didn't make any changes in my code and today it started working on my local machine (Not sure if it was because of slow response). However I am still getting the same error on my CI setup which is a Linux Server and the execution happens on Saucelabs.

This is the code that I have:

             var test = pa11y({
                 allowedStandards: [accessibility_stan

[2016-11-22 14:26] joseluisbolos commented on #206
Thanks, I think that helps.

We've not that familiar with SauceLabs, as we're not using it ourselves, but I'm not sure that what you are trying to do could work.

The way that pa11y works (be it the command-line pa11y, or your own pa11y-based node app) is by firing up a headless phantomjs instance, load a website, and then using phantom's API to inject the [HTML_CodeSniffer/](http://squizlabs.gith

[2016-11-23 22:40] SimitTomar commented on #206
Hi @joseluisbolos,

Thanks for the detailed explanation. I think that makes sense, this means that it has actually nothing to do with Saucelabs since its invoking its own browser (phantomjs) on the machine from where the script is executed, Linux Server in my case.

I did a simple pa11y 'My_Site_Url' on the Linux m/c and got the following error:

Welcome to Pa11y

    at ClientRequest.<anonymous>

[2016-11-26 11:19] joseluisbolos opened #218 "Replace JSCS"
JSCS has merged with ESLint and it seems like it's not under development any more. We should consider replacing it.

[2016-11-26 23:50] SimitTomar commented on #206
Hi joseluisbolos,

I noticed that on my Jenkins server, my site is taking a bit long but pa11y is not waiting for the response beyond 30 seconds no matter what time I set in timeout. It gets timed out after 30 secs and since by that time the response was empty, it throws the aforementioned error. Not sure why the timeout is not increasing beyond 30secs. Can this be an issue on phantomjs. I am usin

[2016-11-27 00:01] rowanmanning commented on #218
Yeah I've been meaning to for a while, it just seems like a big job to make sure the configs match 😁. We can actually replace both JSCS _and_ JSHint with ESLint – it does the job of both.

[2016-12-05 15:08] pamo commented on #210
Do you have some common problems with solutions for core or would this just be a placeholder?

[2016-12-05 15:12] pamo commented on #203
What about using [path.resolve()](https://nodejs.org/api/path.html#path_path_resolve_paths) to get the absolute path using the input and `__dirname`?

[2016-12-05 16:09] hollsk commented on #210
Yes! I'm glad you asked :D

The most common issue in Pa11y core seems to be when it's run against an AngularJS app before the appropriate view has been loaded, so Pa11y tests the wrong page. Here's an issue where I suggest a resolution to that problem (the "more robust" suggestion, not the quick and dirty one - I've also added links to the relevant Phantom and Angular documentation in my next comm

[2016-12-05 20:37] #218 closed

[2016-12-05 20:38] rowanmanning commented on #210
There's also some stuff in the [Common Questions](https://github.com/pa11y/pa11y#common-questions) section of the README which could be moved into a troubleshooting doc.

[2016-12-05 21:23] joseluisbolos commented on #210
There are a few of pa11y-related questions on [StackOverflow](http://stackoverflow.com/search?q=pa11y). Even if they are old, it may be worth having a look and see if there are any of those that could be avoided by improving the docs.

[2016-12-12 22:13] usmanatron commented on #203
Im going to have a go at this!

[2016-12-12 22:38] pamo commented on #203
@usamantron I started taking a look but got lost in a few rabbit holes trying to find where the path is resolved. Seems like truffler takes care of that though.

[2017-01-10 11:03] rowanmanning opened #225 "Test with PhantomJS 2.5"
[PhantomJS 2.5 beta](https://groups.google.com/forum/#!topic/phantomjs/AefOuwkgBh0) has been released, it'd be good to test Pa11y with it before we go live. For this I'd recommend using the PhantomJS path param on the command line and pointing to the new version:

[code]

[2017-01-20 10:01] rowanmanning opened #228 "Decide on new actions to implement"
Now that [actions](https://github.com/pa11y/pa11y#actions) have launched, we should think about new ones we could add that will make life easier for single-page applications and testing modifications to the page made by JavaScript. So far the following are what we have:

  - [x] `click element <selector>`
  - [x] `set field <selector> to <value>`
  - [x] `check field <selector>`
  - [x] `uncheck f

[2017-01-20 10:35] hollsk commented on #228
We can get some ideas from previous issues - e.g. for issue #199 this would be needed:

`wait for element <selector> innerHTML to be <value>`

[2017-01-25 05:14] rojlarge commented on #228
Hi all-- first off, love the project! Automating accessibility testing with pa11y has been hugely useful for my team and was pretty easy to get set up.

One situation that we've run into frequently though is the need for all of our tests to be able to log in through a single sign-on portal, which isn't very well supported by the current "wait for..." actions. It would be awesome if we could specif

[2017-01-25 09:14] rowanmanning commented on #228
Hi @rojlarge, that's great! Please do submit a PR, the only thing I can see that's missing is an update to the documentation

[2017-02-06 13:15] rowanmanning opened #233 "Output browser console messages to debug"
It'd be really useful to output PhantomJS console messages when in debug mode, so we can see if JavaScript has failed to load etc.

[2017-02-07 10:39] iandevlin commented on #228
An enhancement to the `actions` would be ideal for my use case right now, as I would like to send a `click` action and then wait for some JS loaded content to load before running pa11y. So this enhancement gets a +1 from me!

[2017-02-07 16:05] iandevlin commented on #228
Today I spent some time attempting to implement a `wait-for-load` action that takes the form `wait for .foo .bar to load` before running pa11y.
It is only in proof of concept mode at the moment, but I was wondering if it was worth fleshing it into some of those actions listed above?

[2017-02-07 16:15] hollsk commented on #228
Yes, definitely! It sounds a little like what we were thinking about with the `wait for <element> to emit <event>`. We were thinking about checking for an emitted object being sent out from the page once its finished doing something (e.g. AngularJS spits out a `$viewContentLoaded` even once its finished loading a view https://github.com/angular-ui/ui-router/wiki#view-load-events )

If you have som

[2017-02-08 13:19] iandevlin commented on #228
Well I have implemented something similar to the way `wait-for-url` has been implemented, simply setting a timeout to check if the requested element is in the required state (added, removed, visible, or hidden).

[2017-02-08 14:09] iandevlin commented on #228
I have added a branch to my fork that shows what I have implemented at: https://github.com/iandevlin/pa11y/tree/wait-for-element-to-be-action

Main changes are in https://github.com/iandevlin/pa11y/blob/wait-for-element-to-be-action/lib/action.js (of course).

I haven't issued a PR, as I would like some feedback first, plus I have attempted to add some of the tests, but I would require some help h

[2017-02-09 21:38] blobula opened #234 "HTML CodeSniffer 'undefined' error"
Hello,

I recently ran across this tool and I'm trying to get it set up to do some accessibility testing against a site. My issue is when I try to run the following command I'm getting this error.

HTML CodeSniffer: undefined is not an object (evaluating 'f.nodetype') - I'm not understanding what this means. Do I need to set something else up?

I'm running this via the command line prompt in Node.

[2017-02-09 21:51] hollsk commented on #234
Hi @blobula - thanks for using Pa11y!

It looks like you might have run into the same problem as in #165 - maybe try the resolution in there as a first step?

[2017-02-09 22:14] blobula commented on #234
Hello, I actually looked at that issue and tried it, however I was unsuccessful in getting it to work for me.

I'm running this on Windows 7.

I noticed that if I run this command I don't have that error.
`pa11y --debug https://mysite/edituseraccount?selectTab=Login > test.txt`

When I add the config file that's when it happens.

[2017-02-09 22:23] hollsk commented on #234
Oh, hrm. That is interesting. What's your full error output, please?

[2017-02-09 22:30] blobula commented on #234
This is my output. It appears everything goes ok, however there is the CodeSniffer error on the command prompt window, and it's actually never logging into the site and testing the page specified. It just tests the login page. Sorry if I'm missing something. I'm completely new to using Pa11y.

`Welcome to Pa11y

PhantomJS browser created

PhantomJS page created

Opening "https://mysite/login.geo"

[2017-02-09 22:45] hollsk commented on #234
Oh weird. Your script looks fine, and Pa11y does seem to _think_ it's testing the right page.

What happens if you use the actions interface instead of beforeScript? e.g.:

[code]

[2017-02-09 23:05] blobula commented on #234
When I use the actions interface I no longer get the CodeSniffer undefined error, however per the log it's still not logging into the site and advancing to the designated page that i set for it to test. It just tests the login page and stops.  This is my output showing me it's testing the login page. (I removed some results)

[code]

[2017-02-10 15:06] hollsk commented on #234
Oh, wait - I think I know what's happening :D

Are you still running `pa11y --debug https://mysite/edituseraccount?selectTab=Login > test.txt`?

If you're doing that then you're just running the installed command line tool on a single URL, rather than using the javascript interface you've created. You'll want to run `node myjavascriptfile.js` to use the JS interface.

[2017-02-10 15:43] blobula commented on #234
Yep, that was the issue!

Running this works.
`node \npm\node_modules\pa11y\example\before-script\index.js > test.txt`

Thank you!

[2017-02-10 15:50] hollsk commented on #234
Yay! Glad it's working now 🎉

If you have any more problems, let us know in a new issue, happy pa11y-ing 😄

[2017-02-10 15:50] #234 closed

[2017-02-10 16:06] blobula commented on #234
Just a couple follow up questions.

Do I need to still pass the page in that I'm wanting to test like this?
`node index.js https://pagetotest.com/edituseraccount.myprofile.geo?selectTab=Login > output.txt`

Also when I output to a text file it seems to stop listing items and just has this at the bottom of the text file.
[code]
Is it possible to output results via the reporter from within the Javas

[2017-02-10 19:36] hollsk commented on #234
Sure - you don't need to pass any of that in because the JS interface is handling everything. Just `node yourfile.js` is enough :-)

You'll need to [use a reporter](https://github.com/pa11y/pa11y#javascript-interface) from inside your javascript file to write out the results. We could do with an example of this in the documentation, but it goes something like this...

require the reporter you want

[2017-02-13 17:34] iandevlin commented on #228
Anyone had a chance to have a look?

[2017-02-14 11:01] rowanmanning commented on #228
Hi @iandevlin, taking a quick look now but do feel free to open a PR – it's easier to add feedback that way even if it's unfinished :)

[2017-02-14 17:35] iandevlin commented on #228
@rowanmanning Ah ok, I didn't want to add the PR as I would need help with adding tests. Will look to do this tomorrow then when I am back in the office. Thanks for the reply.

[2017-02-15 09:18] rowanmanning commented on #228
@iandevlin thanks, happy to talk through the test stuff as part of the PR

[2017-02-15 15:21] iandevlin commented on #228
@rowanmanning Done: https://github.com/pa11y/pa11y/pull/235 and I marked it with [WIP] just so it's obvious.

[2017-02-27 14:17] keirog opened #236 "Pa11y is great ❤️"
Thank you for Pa11y
✌️ 🕊

[2017-03-01 08:23] SriGitHubSri opened #237 "Pa11y example failing due to Phantom process died error"
Hi Team,
I am new to pa11y and have just learned and started trying out the example pa11y index.js file under the pa11y(github repo)/example/basic folder in a jenkins job environment as Execute shell command . The command mentioned to run the index.js file is **node example/basic** .The below is the output.
PhantomJS browser created
PhantomJS page created
Opening "http://nature.com" in PhantomJS
P

[2017-03-04 14:17] edisch commented on #237
@SriGitHubSri +1

[2017-03-04 14:20] edisch opened #239 "Allow custom sniffs"
It would be awesome if we could implement our own custom sniffs on top of the existing guidelines. I know HTML_CS has "support" for this but I can't find any documentation on how to do it.

**ps: love pa11y**

[2017-03-08 12:44] rowanmanning commented on #239
Yes their documentation is a little lacking, but unfortunately it's the only way to do this at the moment. If we ever move away from HTMLCS then we'd definitely like to enable this, but for now I'm afraid I have to close 😔

It may be worth petitioning the maintainers of HTMLCS to write up how to add new sniffs if that would be helpful.

[2017-03-08 12:44] #239 closed

[2017-03-08 12:44] rowanmanning commented on #239
Also thanks for the feedback and glad you're enjoying Pa11y :)

[2017-03-08 12:46] rowanmanning commented on #237
Hi @SriGitHubSri: that's odd, and there's really not much to go on. As far as I know we haven't seen this issue before.

Could you send me details of your machine? OS/Version, Node.js version, PhantomJS version and I'll see what I can do.

Also it may be worth trying to run something simple with _just_ [PhantomJS](http://phantomjs.org/) to see if that's working for you.

[2017-03-08 12:52] joseluisbolos opened #241 "Improve --version"
Improve --version (or implement an alternative -vv) that prints out the versions of:
* Node
* NPM
* PhantomJS
* Maybe even OS and version
besides just the pa11y version, as it currently does. It would help us a lot with debugging.

[2017-03-16 06:12] syndy1989 opened #242 "pa11y authentication and login"

[2017-03-16 09:15] rowanmanning commented on #242
Hi @syndy1989, is the code above the actual code you're running? Because it's an example of how actions would work – the #username and #password fields don't actually exist within the Nature home page.

To help you debug we'd need the exact script you're running as well as information on which version of Window and Node.js you're running.

[2017-03-16 09:27] syndy1989 commented on #242
Hi @rowanmanning
I'm using windows server 2012
NodeJS version=6.10.0

I have given sample username and password here.
`
var pa11y=require('pa11y');
var test = pa11y({

	// Log what's happening to the console
	log: {
		debug: console.log.bind(console),
		error: console.error.bind(console),
		info: console.log.bind(console)
	},

	// Run some actions before the tests
	actions: [

        'login-usern

[2017-03-16 09:33] syndy1989 commented on #242
I'm new to pa11y so i'm not sure how to define the username and password field inside actions. Any advise on this would be helpful.

[2017-03-16 09:57] andrewmee commented on #242
Hi @syndy1989 I think the problem here is you're trying to run these actions on http://nature.com - which if you go and have a look at that page, doesn't have a `#username` or `#password` field.

Do you not mean to be running this against one of your urls instead?

[2017-03-16 10:02] syndy1989 commented on #242
Hi @andrewmee
I'm sorry my bad the url is http://nature.com/myaccount
I'm trying to execute some authentication before pa11y runs on the url http://nature.com

[2017-03-16 10:04] rowanmanning commented on #242
Also it's worth noting that your actions aren't valid. They read in English and the documentation is here: https://github.com/pa11y/pa11y#actions

For example instead of `E-mail address=xyz@gmail.com` you'd need `set field <css-selector> to xyz@gmail.com`.

[2017-03-16 10:24] syndy1989 commented on #242
<css -selector> means are you referring to the id of the element or the class ?

`actions: [

        'set field #email to xyz@gmail.com',
        'set field #password to admin1234',
	'#click element #login',
	'http://www.nature.com/myaccount'
	]
`

when i tried this i get shown the below error

`PhantomJS browser created
PhantomJS page created
Opening "http://nature.com/" in PhantomJS
Opened "htt

[2017-03-16 10:26] andrewmee commented on #242
It looks as though you're trying to log in to http://nature.com (which doesn't have a log in form).  Do you mean to be running these actions against http://www.nature.com/myaccount instead?

[2017-03-16 10:29] syndy1989 commented on #242
@andrewmee Yes thats right.

[2017-03-16 10:31] syndy1989 commented on #242
My bad i tried changing the url now i get shown the below error

`PhantomJS browser created
PhantomJS page created
Opening "http://nature.com/myaccount" in PhantomJS
Opened "http://nature.com/myaccount" in PhantomJS
Testing the page "http://nature.com/myaccount"
Running actions
Running action: set field #email to xyz@gmail.com
  ✔︎ action complete
Running action: set field #password to admin1234

[2017-03-16 10:32] andrewmee commented on #242
Have you checked if an element with id of "login" exists on that page?  The error you're giving suggests it doesn't.

[2017-03-16 10:37] syndy1989 commented on #242
It does exist.
<input type="submit" id="login-submit" class="button" name="submit" value="Login">

I tried changing the click element #login-submit but still i gives me the below error

`PhantomJS browser created
PhantomJS page created
Opening "http://nature.com/myaccount" in PhantomJS
Opened "http://nature.com/myaccount" in PhantomJS
Testing the page "http://nature.com/myaccount"
Running actions

[2017-03-16 10:38] syndy1989 commented on #242
Please find the element details

<input type="submit" id="login-submit" class="button" name="submit" value="Login">

[2017-03-16 10:39] syndy1989 commented on #242
`<input type="submit" id="login-submit" class="button" name="submit" value="Login">`

[2017-03-16 10:40] andrewmee commented on #242
I've just navigated to http://www.nature.com/myaccount and I see the following;

[code]

I'm confused if you're running your test against this url, or another one?

[2017-03-16 10:46] syndy1989 commented on #242
My bad it was redirected to http://www.nature.com/foxtrot/svc/login

yes thats right. id doesn't exist . what should i give in click element ?

[2017-03-16 10:48] syndy1989 commented on #242
when i tried running actions against http://www.nature.com/foxtrot/svc/login

`actions: [

        'set field #login-username to xyz@gmail.com',
        'set field #login-password to admin1234',
		'click element #login-submit',
		'wait for url to be http://www.nature.com/foxtrot/svc/login'
	]`

it shows the below error

`PhantomJS browser created
PhantomJS page created
Opening "http://www.nature.c

[2017-03-16 10:53] andrewmee commented on #242
I'm not able to access that url when I've just tried it.

May I ask why you're trying to log in to nature.com?  Is it this site specifically, or just trying things out? (Do you have a user account on that site?)

There's an excellent actions example for logging in to GitHub here, if it helps: https://gist.github.com/rowanmanning/bcd93ba305e561b75340596183847a07

[2017-03-16 11:02] syndy1989 commented on #242
I'm just trying to execute some authentication using pa11y for that i'm using nature.com. i do have a user account. i created one to just try these pa11y actions.

finally its working. Thank You so much for your assistance @andrewmee . It was really helpful.

I do have another query. I'm able to crawl the site using js script but i wanted to know how to run pa11y on each microsiste . Any advise on

[2017-03-16 13:49] #210 closed

[2017-03-16 17:29] hollsk commented on #150
Gonna close this issue as it's been around for a while with no current open question 😁

We're definitely always interested in things like recipes and examples, though! We've been meaning to create a cookbook of sorts for a while.

[2017-03-16 17:29] #150 closed

[2017-03-16 17:31] hollsk commented on #172
This issue is pretty old now, so I'm assuming you've long since fixed your problem and/or moved on ;)

If you need anything from us in future, we can do it in a new issue 👍

[2017-03-16 17:31] #172 closed

[2017-03-16 17:32] hollsk commented on #176
This issue is pretty old now, so I'm assuming you've long since fixed your problem and/or moved on ;)

If you need anything from us in future, we can do it in a new issue 👍

[2017-03-16 17:32] #176 closed

[2017-03-16 17:34] hollsk commented on #199
We now recommend using `actions` for situations like this 😄

https://github.com/pa11y/pa11y#actions

[2017-03-16 17:34] #199 closed

[2017-03-17 04:03] syndy1989 commented on #242
@rowanmanning

Thank You

[2017-03-17 09:16] rowanmanning commented on #236
As much as I like having this issue around, we're closing a few across the repos. Thanks Keith :)

[2017-03-17 09:16] #236 closed

[2017-03-17 09:26] rowanmanning commented on #169
I'm gonna suggest closing this, as we're trying to encourage people away from `beforeScript` and towards actions. @GlynnPhillips: you happy with that?

[2017-03-17 09:30] rowanmanning commented on #200
@hollsk reckon we can close this now that we have actions?

[2017-03-17 10:38] GlynnPhillips commented on #169
Over the moon 🌝

[2017-03-17 10:42] hollsk commented on #200
Yeah, no real need for it now 👍

[2017-03-17 10:42] #200 closed

[2017-03-17 10:48] #169 closed

[2017-03-17 10:49] rowanmanning commented on #206
Hi, I'm gonna close this issue for now, apologies for not getting back to you sooner but this issue seems _very_ specific to your setup.

If you're still encountering the same problem then we can take a look but it's difficult to debug. It looks like on SauceLabs you're possibly attempting to run Pa11y within a Firefox VM:

[code]

This will never work as Pa11y can only run in a Node.js environmen

[2017-03-17 10:49] #206 closed

[2017-03-17 11:13] rowanmanning commented on #189
Hi @alleypa, I'm unable to replicate this unfortunately. One thing that's worth trying is installing a newer version of Pa11y. In v4.1.0 we bundled PhantomJS with the library itself so it's much easier to get running on Windows.

Let me know if installing the latest version works :)

[2017-03-17 12:09] rowanmanning commented on #225
OK currently this seems like a no-go, but it may be due to [node-phantom-simple](https://github.com/baudehlo/node-phantom-simple).

Here's the error stack I get when running with PhantomJS 2.5 beta:

[code]

[2017-03-17 12:16] rowanmanning commented on #233
Worth noting that I'm having trouble with this. You only seem to get messages that are logged directly from the Pa11y script, and anything outside of that is ignored.

I'll dig around some more and maybe start an in-progress PR in case anybody else would like to give it a go.

[2017-03-17 14:33] #241 closed

[2017-03-18 07:25] syndy1989 opened #248 "How to maintain sessions and cookies in a user authenticated site using pa11y"
Hi, I wanted to know how to maintain sessions and cookies in a user authenticated site using pa11y? do i need to add any actions to the script or Is there any other way to do it?
Any advise on this would be helpful. Thanks in advance.

[2017-03-18 12:41] hollsk commented on #248
Hi @syndy1989 - you can set headers (including cookies) with the `page.headers` option. See the Common Questions here: https://github.com/pa11y/pa11y/blob/master/TROUBLESHOOTING.md#how-do-i-set-cookies-on-a-tested-page

[2017-03-18 13:00] syndy1989 commented on #248
Hi @hollsk
I can set cookies using page.headers.  but what about browsing sessions? For example1: if my site has login form I can set some actions to execute authentication before pa11y runs so that's going to be one session.
Example 2: I didn't set any actions I just want to run pa11y against particular URL. That's going to be another session.
If I'm running multiple URLs at a time using pa11y ho

[2017-03-20 04:13] syndy1989 opened #249 "How to maintain sessions using pa11y"
Hi..How to maintain sessions  in a user authenticated site using pa11y? Is it possible to maintain browsing sessions using pa11y?

[2017-03-20 10:25] rowanmanning commented on #248
Sorry we don't natively support persisting sessions between Pa11y runs.

You could probably achieve this yourself by:

  1. Create a session using a tool other than Pa11y (e.g. PhantomJS)
  2. Save the session details from this
  3. Programatically add your session cookie into your Pa11y config in the way @hollsk suggested
  4. Run Pa11y tests all using the same session

Beyond this we're not real

[2017-03-20 10:25] #248 closed

[2017-03-27 10:25] rowanmanning commented on #237
I'm gonna close this and assume you managed to get things working. Feel free to reopen if you're still having issues and you can provide your machine details :)

[2017-03-27 10:25] #237 closed

[2017-03-27 10:26] rowanmanning commented on #189
I'm gonna close this for now, but happy to reopen if you're still having issue :)

[2017-03-27 10:26] #189 closed

[2017-03-27 10:29] rowanmanning commented on #144
I'm pretty sure this has magically fixed itself, because I can run with npm `3.10.10` fine. Let's close, as it's only ever one of the core maintainers who would do this work anyway.

[2017-03-27 10:29] #144 closed

[2017-03-27 10:34] rowanmanning commented on #203
I _think_ this is a [Truffler](https://github.com/springernature/truffler) issue, but haven't had time to verify. Either way it'd probably benefit from this code.

[2017-03-27 10:35] rowanmanning commented on #208
I'd like to split this into two separate issues. The config loading would be Pa11y but I think the printing of the effective config would end up being in [Truffler](https://github.com/springernature/truffler).

[2017-03-27 10:39] rowanmanning opened #252 "Update all example URLs"
Currently the codebase is littered with references to nature.com, which is a hangover from when Pa11y was predominantly worked on at Nature Publishing Group. Recently this seemed to cause a little confusion and it probably makes sense to update.

I'm suggesting changing all references from `nature.com` to `pa11y.org`. There are references in the README, the example files, and the integration tests

[2017-03-27 18:34] TheJaredWilcurt commented on #252
For instances of documentation this could be confusing. For example, if someone doesn't understand the concept of a "variable" in programming, showing them this example would not give them any meaningful information and would just confuse them:

[code]

where as something like this is easier to understand and eliminates confusion:

[code]

For documentation, any case where we are using `nature.com

[2017-03-27 18:49] hollsk commented on #252
I'm with @TheJaredWilcurt - I guess we've become used to using real domain names in our documentation because we normally write for an internal audience.

`example.com` is a pretty well-established domain name, that goes to a real website, and that [clearly states](http://example.com/) it's illustrative. I reckon we should switch to that instead.

[2017-03-28 00:22] rowanmanning commented on #252
Sounds good to me, I'm convinced :)

[2017-03-29 14:20] rowanmanning opened #254 "Use the update-notifier package"
I think we should try using the [update-notifier package](https://www.npmjs.com/package/update-notifier) to let people know when the command-line interface is out of date. It's used by thousands of other packages and should help us keep users up to date. See also https://github.com/pa11y/ci/issues/21

[2017-03-31 00:00] ian-bartholomew commented on #252
If no one is working on this, I'll take a swing at this one

[2017-03-31 09:42] rowanmanning commented on #252
@ian-bartholomew: feel free!

[2017-04-02 11:51] hollsk commented on #252
Fixed by @ian-bartholomew 👍

[2017-04-02 11:51] #252 closed

[2017-04-11 16:25] hollsk commented on #164
It shouldn't. Been having a look today and it's a maze of twisty passages, all alike.

The `Results for "http://blahblah` line comes directly from the input itself (either entered in the CLI or in a config/task runner). The reporters don't really know anything about the final URL, and there's no way that I can see to get them to know about it without making the return results dirty.

Somebody (thi

[2017-04-12 08:53] rowanmanning commented on #164
Unfortunately I think you're right, we can't do this without the results being muddied. I guess we could try sending a third parameter to the [`done` call here](https://github.com/pa11y/pa11y/blob/f51182de3f76e46d6b260d7c7ac70bf5607b6142/lib/pa11y.js#L82) but I'm not convinced that would work.

We might have to add the `breaking` label to this issue and wait for Pa11y v5 😔

[2017-04-12 09:09] hollsk commented on #164
😭

Shall I add the info notice at least? Somethin like

[code]

[2017-04-13 17:57] seanredmond opened #256 "Add a TSV reporter"
In addition to the comma-delimited (CSV) reporter, it would be useful to have a tab-delimited (TSV) reporter. There are sometimes plenty of commas in the output which is always going to make it hard to cleanly import that CSV into a spreadsheet. Using tabs is an easy way to improve that in a lot of cases.

I have a working version of this and can make a PR.

[2017-04-13 18:55] TheJaredWilcurt commented on #256
This is a simplified version of what we use on [Koa11y](https://open-indy.github.io/Koa11y).
[code]

I've left out the HTML output as it's much more complex and tied in to our system.

[2017-04-13 19:28] seanredmond commented on #256
Thanks @TheJaredWilcurt. It was dead easy to copy `reporter/csv.js` and modify it to use tabs instead. I think the use of `JSON.stringify()` makes for some messy escaping, but that's a problem for TSV and the existing CSV output, so that's probably better for a separate issue.

I'll make a PR in a bit.

[2017-04-17 17:09] nickdunn commented on #225
With headless Chrome is it worth continuing the phantom route?

https://groups.google.com/forum/m/#!topic/phantomjs/9aI5d-LDuNE

[2017-04-17 17:51] hollsk commented on #225
Probably not 🙂

Currently Pa11y is pretty tightly coupled to Phantom, and we've been talking about changing things to make it less dependent, so people can choose different headless browsers. But it'd be a major rewrite, so although we all agreed it was a great idea, we hadn't really looked into it seriously.

Phantom 2.1 isn't going anywhere, and there's still a pretty healthy dev community aroun

[2017-04-17 17:51] #225 closed

[2017-04-17 18:12] nickdunn commented on #225
Makes sense, thanks!

[2017-04-18 08:08] rowanmanning commented on #225
If a 2.5 stable release appears then I'd still like to get it working in the 4.x branch of Pa11y – the better ES6 support would allow us to start using newer browser features in preparation for a move to something different (e.g. Headless Chrome).

I'll keep an eye on PhantomJS and reopen this if 2.5 stabilises.

[2017-04-18 08:15] josebolos opened #258 "Investigate Replacing PhantomJS with headless Chrome"
- [ ] Placeholder.
- [ ] Edit this in order to add a list of all the things that need to happen so we can replace PhantomJS.

[2017-04-18 08:25] rowanmanning commented on #256
Released as part of Pa11y 4.10.0

[2017-04-18 08:25] #256 closed

[2017-04-18 08:41] rowanmanning commented on #170
Gonna revive this conversation. I still think that excluding warnings/notice by default would be a good move and mean that Pa11y only ever gives you directly _actionable_ feedback. Agree that there would have to be a way to include warnings/notices back in.

Potentially we just add notices/warnings to the default `ignore` option and then people can override by specifying an empty `ignore`.

[2017-04-18 08:45] rowanmanning commented on #258
As a starting point, [we could use this library](https://github.com/cyrus-and/chrome-remote-interface). There are a couple of important things that need to be available IMO if we're going to switch to Headless Chrome:

  1. It needs to be easily done with Node.js (seems it is based on library linked above)
  2. It needs to be able to support _all_ of the current Pa11y functionality (I don't really

[2017-04-18 09:24] hollsk commented on #170
I'm still comfortable with the idea of doing this, fwiw. I almost never care about notices or warnings.

We're not really taking anything away, after all - just changing the initial parameters.

[2017-04-18 16:42] TheJaredWilcurt commented on #258
`#3` would be nice because no OS ships with Chrome except ChromeOS. People shouldn't be required to install an extra browser globally on their OS just to run Pa11y. I don't even think you can get Chrome on Ubuntu, just Chromium.

[2017-04-24 05:21] foxpcteam opened #259 "MultiLang support"
Hi,
I want to translate the "message" to another lang.
for example:
"Check that the title element describes the document."

what is the best way to do it?

[2017-04-24 09:39] hollsk commented on #259
Hi @foxpcteam - thaanks for using Pa11y!

We get the ruleset messages directly from [HTML_Codesniffer](https://github.com/squizlabs/HTML_CodeSniffer). You can try asking on that repo if they have any plans for i18n - if it's implemented there, then we can have it here 🙂

[2017-04-24 10:49] foxpcteam opened #260 "How get output in web page?"
Hi,

i want to have the same output in my website as in terminal

so if someone enters example.com:8000 it will run the node app.js

My code is:
[code]

 i have tried to use `expressjs`

[code]

"Hello word" is working fine.

and all what i have tried to print the output from the  `test.run('example.com', function(error, result) { `without any success.

what i need to do to make this work with `ex

[2017-04-25 16:31] hollsk commented on #260
Hey @foxpcteam - I haven't tested this, but are you able to assign the entire `test.run` function to a variable, and then return the results to put in your `res.send` argument? e.g.

[code]

[2017-04-25 16:33] hollsk commented on #259
An issue for this now exists here: https://github.com/squizlabs/HTML_CodeSniffer/issues/190

I've subscribed to the issue, but I'm add a link in here in case anybody else wants to follow it :-)

[2017-05-05 08:49] tothomweb opened #261 "Return lowest error code"
When analyzing a page with, lets say, level AA all the returned errors are of the type:

Given the fact that, for example this error is a level A error, I think it would be more useful to return the lowest error level like:

So that with just 1 scan the different levels (an so, priorities) of errors (A, AA or AAA) could be obtained.

[2017-05-05 09:07] hollsk commented on #261
Hi @tothomweb - thanks for using Pa11y!

Ultimately it comes down to way the rulesets are loaded. Every ruleset has its own file, and when you choose to load a particular ruleset you only get access to those specific rules, they're sandboxed from each other.

The ruleset handling is done by [HTML_Codesniffer](https://github.com/squizlabs/HTML_CodeSniffer/issues), so you could try opening this issu

[2017-05-05 09:07] #261 closed

[2017-05-05 09:11] tothomweb commented on #261
Great @hollsk , thanks for the fast reply!

[2017-05-16 10:33] bhattdeepak90 opened #263 "Unable to pass basic auth"
Hi Pallian's

I am not able to pass the basic auth credentials to my web page. I had installed pa11y in Linux environment, and created a config file with below settings:
pa11y({    page: {
        settings: {
            userName: 'uat2uat',
            password: '4pass@ua!'         }
    } });
then using the mentioned CLI command:      pa11y --config config.json  http://example.com
and receiving

[2017-05-16 10:49] joseluisbolos commented on #263
Hi Deepak,

Thanks for your interest in pa11y.

From what you tell us, it's unclear where the problem may lie. Could you please:

* Confirm that you're using basic auth, and not any other method.
* Try with a different site, one that doesn't need authentication, so we can check if we're getting the expected results, and it's a problem with the authentication, or with something else.

Thanks.

[2017-05-16 10:58] bhattdeepak90 commented on #263
Hi Jose,

Thanks for your quick response. Below are the answers you have asked for:
1. I am using only basic auth method.
2. I have tested the other sites which don't have authentication and getting the proper result as expected. Hence I think the problem lies with basic auth mechanism. Can you please guide me with the steps how to pass the basic auth.

Many Thanks!
Deepak

[2017-05-17 07:38] bhattdeepak90 commented on #263
Hi All,

I am not able to pass basic auth with pa11y. Please find the below config.js file I am using to pass basic auth credentials. I have masked the actual url in config.js. CLI command used to run pa11y:
pa11y --config config.js  http://myurl.com/
but the command is throwing me an error and I am not able to get the result. I have also done some debugging around it and found that pa11y is execu

[2017-05-17 13:08] hollsk commented on #263
Hi Deepak - I've run a quick test on a page with http auth and everything looked good there, so it seems like a system-specific problem.

The "operation canceled" error message comes from PhantomJS, but there are lots of different reasons it could happen. One of the things that the Phantom team recommend is to add a timeout before attempting to open the page.

Your testing suggests to me that migh

[2017-05-24 12:56] DineshkumarS89 opened #264 "Unable to click a button in Actions"
Hi Team,

I am trying to automate automate accessibility testing using pa11y. I am using pa11y actions to navigate between pages before triggering the accessibility scan.

But i am not click/access buttons which doesn't have id.

Below the HTML code for the logout Button

button type="submit" class="c-application-kap-self-tracker__exit" data-tealium-narrative="Exit" data-reactid=".0.2.0.1.0.1.1.1"

[2017-05-24 14:39] hollsk commented on #264
Hi Dinesh,

Thanks for using Pa11y! You should be able to use any selector you like in the action, not just an ID. We don't have anything about that in the documentation, which I'll fix.

Try something like `click element [data-tealium-narrative="Exit"]` or `click element .c-application-kap-self-tracker__exit` and let us know if it works!

[2017-05-24 15:43] #264 closed

[2017-06-05 07:31] othree commented on #237
I experienced this issue too.
But on dashboard server log.

![2017-06-05 3 19 34](https://cloud.githubusercontent.com/assets/16474/26774347/6c429ce8-4a02-11e7-87a6-32494063955d.png)

I think this is a timeout handling issue.
I have two tracker on my page (GA, Metrica).
And if I use `phantomjs` to open the page.

[code]

Execute by:

[code]

It will load very long (more than 1 minute).
After open d

[2017-06-14 09:15] dragGH102 opened #269 "How to use with JSX?"
As per the title,

since JSX (React) is basically all Javascript, how to use pa11y to test the HTML returned?

[2017-06-14 09:21] hollsk commented on #269
Hi @dragGH102 - Pa11y spins up a PhantomJS instance to render the page, then injects HTML_Codesniffer into it and returns a report based on its findings. We don't check the underlying code itself, only what's rendered as a webpage.

Hope this helps!

[2017-06-14 15:40] mskhirwar opened #270 "Error: HeadlessError: Phantom immediately exited with: 127 while running on Jenkins"
I am trying to setup a Jenkins job around pa11y with automated check-ins, but I am getting following every time:

[code]

Does anybody knows what could be the root cause around this?

[2017-06-14 19:05] mskhirwar commented on #270
On further debugging , I have found following log in Jenkins's log:

`./node_modules/phantomjs/lib/phantom/bin/phantomjs: error while loading shared libraries: libfontconfig.so.1: cannot open shared object file: No such file or directory`

Jenkins is setup on {"os":"linux","arch":"x64"}

[2017-06-14 19:12] josebolos commented on #270
Hi @mskhirwar

Thanks for using pa11y. The error that you mention looks very similar to this one in the phantomjs repo: https://github.com/ariya/phantomjs/issues/10904

Could you please try installing the missing `libfontconfig` library and see if that fixes the problem for you?

Thanks!

[2017-06-14 19:22] mskhirwar commented on #270
Thanks @josebolos for you prompt response.

I am using Jenkins & I do not have command line access. Is there any other way to fix this issue?

[2017-06-15 10:53] mskhirwar opened #272 "How to sync pa11y generated data with pa11y dashboard?"
I would like to sync the data generated by pa11y to pa11y dashboad which is getting generated by Jenkins Job on every code check-ins in the repository.

Is there any way to achieve this?

Thanks!

[2017-06-16 10:50] lemoustachiste commented on #269
I'm realizing the initial question might be ambiguous to my problem, which however seems related.

@hollsk does this mean that there is no way to test via pa11y's current implementation against the generated HTML once React code has executed?

I tried using the -w flag to allow time but I don't think it helps, so just double checking with someone who has more experience with this tool.

Thanks

[2017-06-16 11:32] dylanb commented on #269
@lemoustachiste you might want to check out react-axe - it is probably more appropriate for what you are trying to achieve

[2017-06-16 14:23] andrewmee commented on #269
Hello @lemoustachiste, as @hollsk mentioned, pa11y is indeed designed to run against that generated HTML.  It doesn't know (or care) what generates that code, it just evaluates the HTML as it stands when it is executed.

The `-w` option allows you to specify a time (in milliseconds) for pa11y to wait while your application gets itself into a state to be tested.  If you're not seeing the results th

[2017-06-16 21:30] mskhirwar commented on #270
Thanks @josebolos, above mentioned issue fixed after installing 'libfontconfig' package. 👍

[2017-06-16 21:30] #270 closed

[2017-06-20 10:05] Zoheb-hassan opened #273 "Error Opening Url and Headless Process died errors"
Hi, I'm trying to set up pa11y on a linux box and i was having trouble running pa11y i started with the regular pa11y "my-url" command however i was getting the following error

`PhantomJS browser created
Error: Error opening url "https://www.python.org/" : Operation canceled
    at Object.<anonymous> (/usr/lib/node_modules/pa11y/node_modules/truffler/lib/truffler.js:154:18)
    at /usr/lib/node_m

[2017-06-22 16:04] rowanmanning commented on #272
Hi @mskhirwar, sorry there is currently no way to do this. The way the dashboard is architected would make it a lot of work to enable. There's no reason you couldn't write a script which accesses the dashboard database directly though.

We're intending on allowing this with [Pa11y Sidekick](https://github.com/pa11y/sidekick) though there's no timeline on when that will release yet.

[2017-06-22 16:04] #272 closed

[2017-06-22 21:14] mskhirwar commented on #272
Hi @rowanmanning, no problem by the way thanks for the info.

[2017-06-26 08:13] rowanmanning commented on #273
Closing as this was discussed in Slack

[2017-06-26 08:13] #273 closed

[2017-06-26 18:53] Zoheb-hassan commented on #273
Let me add more context to the issue created, there were couple of things that needed to get this working the environment wasn't set right i.e., the proxy and then we tried passing the proxy via config parameters e mentioned [Issue 86](https://github.com/pa11y/pa11y/issues/86), however pa11y wasn't taking it for some reason. so we finally got over by modifying the pa11y.js file located under pa11y

[2017-06-29 12:07] aweingarten commented on #258
The maintainer of PhantomJs Stepped down a few months back due to headless chrome.  Phantom seems dead as a project.  It doesn't seem like there are too many options Pa11y will need to switch.

https://groups.google.com/forum/#!searchin/phantomjs/chrome%7Csort:relevance/phantomjs/9aI5d-LDuNE/MpCM_wACAQAJ

[2017-06-30 18:47] micahsaul opened #274 "Timeout working inconsistently"
It appears that the timeout flag only works if the timeout is shorter than the time it takes for the actual scan to start?

When I run, say `pa11y nationalhousing.gov --timeout=7000`, the process times out as expected.

When I run `pa11y nationalhousing.gov --timeout=70000`, the process hangs indefinitely. (Side note, nationalhousing.gov has a 301 redirect which seems to cause pa11y to hang).

The

[2017-07-01 10:46] hollsk commented on #274
Hi @micahsaul - glad you're enjoying Pa11y!

This is quite a interesting problem. It also shows up if you use the --wait flag instead of the --timeout flag.

Looks like Pa11y executes fine right up until this line: https://github.com/pa11y/pa11y/blob/master/lib/inject.js#L29 - the setTimeout doesn't get executed, so CodeSniffer never runs, and the tests just hang without starting. I wonder if ther

[2017-07-05 21:00] micahsaul commented on #274
Hmm... so, it seems like the only URLs that are consistently failing in this way are all redirects to HUD's website. So, there might be something weird that they're doing specifically in the way they've implemented those redirects.

nationalhousing.gov
nationahousinglocator.gov
disasterhousing.gov
nls.gov

If I find more, I will drop them in here. The others I had that were failing seem to be a di

[2017-07-07 11:46] hollsk commented on #274
Hm. The only thing, though - if I run Pa11y against the HUD portal homepage URL directly, it hangs there too, even though there's no server redirect. It suggests to me that there's something up at the end target URL rather than any of the redirects that take you there.

I've tried running Pa11y on a few random pages in the HUD portal, and I'm suspecting a javascript timer conflict more and more. I

[2017-07-07 17:31] micahsaul commented on #274
Alas, I don't have access to their codebase.

For awareness, I'm working on https://github.com/18F/pulse, trying to add a scan of a11y issues to the existing https and analytics participation scans we're currently running across the entire federal .gov space.

I think for now, I'm going to work around the issue by just blacklisting the sites that are locking. Thanks for looking into this for me!

[2017-07-11 13:37] hollsk commented on #274
Wow, that's a _massive_ project! It's making me think the team at my org. could really use something similar 😄

We've been looking at this timeout problem again today, to see if there's anything we can do on our end, as obviously it's not ideal. @rowanmanning just realised that the HTML_Codesniffer bookmarklet also crashes on the same URLs, and since we rely on HTML_Codesniffer in Pa11y, that's pr

[2017-07-13 10:53] sagar441989 opened #275 "ConcurrentTest> How to write HTML output into .html file"
@rowanmanning
I have below script is use. It generates HTML output to console.
Could some one help me writing the output in HTML file?

[code]

[2017-07-13 13:21] josebolos commented on #275
Hi @sagar441989,

Thanks for using pa11y.

I'm not really getting what you are trying to achieve.

If what you want is for the command line to output the results of a test as HTML, there's already an [HTML reporter](https://github.com/pa11y/pa11y#reporters) built in:

`pa11y --reporter html https://example.com/ > output.html`

If what you want is to display the results of your tests as a website,

[2017-07-17 19:52] scottconnerly opened #276 "Add a JUnit reporter"
In addition to the existing reporters, it would be useful to have a JUnit XML reporter. Adding this output format would increase the ease with which pa11y could be integrated in a CI server like Jenkins, CircleCI or Bamboo.

Documentation on the file format: http://llg.cubic.org/docs/junit/

I don't have a PR ready for this, only just now identified the need. Would welcome assistance in this endea

[2017-07-20 15:56] #275 closed

[2017-07-21 11:23] sagar441989 commented on #275
I am using multiple example script for executing pally against multiple URL.

[2017-07-28 09:42] sagar441989 opened #277 "allowedStandards is not working"
@rowanmanning
I am using javascript interface and created a script for running pally with below options:
**allowedStandards: ['WCAG2A', 'Section508']**

But the output shows result for WCAG2AA too.  So I tried **standard: 'Section508'** and it worked.

Whats wrong with **allowedStandards**?

[2017-07-28 13:51] rowanmanning commented on #277
Hi @sagar441989. Yeah `WCAG2A` is just `WCAG2AA` + `WCAG2AAA` but with some stricter rules. The message IDs reflect that. it would still be running the correct standard.

[2017-07-28 13:51] #277 closed

[2017-07-31 06:34] sagar441989 commented on #277
Thanks for the clarification.  Still I have below questions for you
1.  If that is the case then use of  **standard: 'WCAG2A'** should give WCAG2AA + WCAG2AAA. But this is not the case. It gives WCAG2A only.
2. allowedStandards: ['Section508']. This also gives WCAG2AA + WCAG2AAA

[2017-07-31 17:36] bryanrasmussen opened #278 "npm install --save pally not working"
On my windows 10 I do
 npm install --save pally

get the following error
PS D:\projects\NGANGA\nganga_projects\accessbility> npm install --save pally
npm ERR! code E404
npm ERR! 404 Not Found: pally@latest

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Bruger\AppData\Roaming\npm-cache\_logs\2017-07-31T17_34_20_010Z-debug.log

the error log says

0 info it worked if it

[2017-07-31 18:06] rowanmanning commented on #278
Hi @bryanrasmussen,

Sorry for the confusion, but the `L` in Pa11y is actually a number `1`. I've spoken with npm about aliasing this as it can cause confusion, but the correct command is:

[code]

Hope this clears things up 🙂

[2017-07-31 18:06] #278 closed

[2017-07-31 23:03] gusbemacbe opened #279 "Can I test npx pa11y on a local php?"
I didn't develop my projects in HTML. I developed my projects in PHP.

I tried to run `npx pa11y --standard "WCAG2AA" --ignore "notice;warning" /Users/username/Trabalhos/Atlética\ Unisal/sitemelhor-php/index.php `

But it gave errors:

[code]

[2017-08-01 07:23] bryanrasmussen commented on #278
sorry, I've fallen for this before - normally I catch it, but I'd just
gotten done dealing with a bunch of other npm issues and jumped the gun.

On Mon, Jul 31, 2017 at 8:06 PM, Rowan Manning <notifications@github.com>
wrote:

[2017-08-01 08:28] hollsk commented on #279
Hi @gusbemacbe - thanks for using Pa11y!

You'll need to run your php page on a local web server, and point Pa11y at the local server address instead. Pa11y uses an internal browser to check pages, so it needs to be able to "see" a webpage in the same way that a webpage user would.

[2017-08-01 08:28] #279 closed

[2017-08-03 15:22] hollsk commented on #276
Hi @scottconnerly - thanks for using Pa11y!

I think this is the kind of thing that would be better as a separate NPM package. We've tried to keep the reporters bundled with the core library fairly basic so that we don't throw specialised reporters in with every download, as most people just aren't going to need them.

If you'd like to have a go at writing a JUnit reporter, then one way of doing i

[2017-08-03 15:25] hollsk commented on #263
I'm going to assume you managed to get this sorted, so I'll close this issue. Feel free to reopen if you're still having trouble though 😄

[2017-08-03 15:25] #263 closed

[2017-08-03 15:27] hollsk commented on #260
I'm going to assume you've got this working and close this issue. Feel free to reopen if you still need help! 😄

[2017-08-03 15:27] #260 closed

[2017-08-08 06:30] sagar441989 opened #280 "IssueHTML CodeSniffer: undefined is not an object (evaluating 'f.nodeType')"
@rowanmanning
I am trying to run the Pa11y on a authenticated website. There are three URL navigation
1. URL supplied to Pa11y test : https://mysite.com/waw/ezw/webbanking. Test will run against this
2. I have below actions code for login
'wait for url to be https://mysite.com/waw/idp/login.htm?execution=e1s1',
		'set field input[id="some id"] to username',
		'set field input[id="some id"] to pass